@import '~amo/css/styles';

.StaticPage {
  @include page-padding;

  .Card-contents li,
  .Card-contents p {
    font-size: $font-size-default;
  }

  h1,
  h2 {
    color: var(--amo-text-dark);
  }

  h1 {
    font-size: $font-size-l;
  }

  h2,
  h3 {
    font-size: $font-size-default;
  }

  h3 {
    color: var(--amo-text-secondary);
  }
}

.StaticPage-content {
  max-width: 960px;
}
