@import "~photon-colors/photon-colors";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

$cell-padding: 6px;

.LanguageTools {
  padding: $padding-page;

  @include respond-to(large) {
    padding: $padding-page-l;
  }
}

.LanguageTools-table {
  width: 100%;
}

.LanguageTools-table-row {
  border-bottom: 1px solid $grey-50;

  &:nth-child(even) {
    background: $grey-20;
  }
}

.LanguageTools-header-row {
  background: $grey-30;
}

.LanguageTools-header-cell {
  @include text-align-start();

  font-size: $font-size-m;
}

.LanguageTools-addon-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.LanguageTools-table {
  .responsiveTable tbody tr {
    padding-top: 0;
  }

  th,
  td {
    padding: $cell-padding;
  }

  td {
    min-height: $font-size-m + (2 * $cell-padding);
  }
}

.LanguageTool-localeName {
  @include respond-to(large) {
    width: 25%;
  }
}
