@import '~core/css/inc/vars';
@import '~core/css/inc/mixins';
@import '~amo/css/inc/vars';

.ErrorPage {
  margin: $padding-page;
  margin-top: 0;

  @include respond-to(large) {
    margin: $padding-page-l;
    margin-top: 0;
  }
}
