@import '~photon-colors/photon-colors';

$focus-outline-color: #0096dc;
$page-background: $grey-10;
$primary-font-color: #000;
$secondary-font-color: #6a6a6a;
$header-copy-font-color: #444;
$header-border-color: #b1b1b1;
$link-hover-color: #0996f8;
