$focus-outline-color: #0096dc;
$page-background: #fbfbfb;

$primary-font-color: #000;
$secondary-font-color: #6a6a6a;

$header-copy-font-color: #444;
$header-border-color: #b1b1b1;

$link-hover-color: #0996f8;

$breakpoints: (
  small: '(max-width: 719px)',
  large: '(min-width: 720px)'
);
