@import '~amo/css/styles';

$icon-large: 64px;
$icon-medium: 19px;
$icon-small: 13px;

.Rating {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;

  // The width of small rating stars are controlled by .Rating-star.
  &.Rating--small {
    grid-column-gap: 4px;
    min-height: $icon-small;
    width: min-content;
  }

  // The width of large rating stars are controlled by the container.
  &.Rating--large {
    grid-column-gap: 6px;
    max-width: 250px;
    min-height: 32px;
    width: 100%;
  }

  @include respond-to(extraExtraLarge) {
    &.Rating--large {
      grid-column-gap: 12px;
      max-width: none;
    }
  }
}

@keyframes pulse-opaque-rating-stars {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }
}

// Since dim stars are already dim, set the opacity higher.
@keyframes pulse-dim-rating-stars {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.Rating-star {
  align-items: center;
  display: flex;
  justify-content: center;
  background: url('./img/closed-star-dim-gray.svg') center/contain no-repeat;
  padding: 0;

  &:not(.focus-visible) {
    outline: none;
  }

  .Rating--small & {
    min-width: $icon-small;
  }

  .Rating--loading & {
    animation: pulse-dim-rating-stars 1s infinite;
  }
}

.Rating--editable {
  .Rating-star {
    background-image: url('./img/open-star-dim-yellow.svg');
    cursor: pointer;
  }

  &.Rating.Rating--loading .Rating-star {
    // Ensure editable rating stars always render as open stars while
    // loading, even if some are selected (e.g. while hovering).
    animation-name: pulse-opaque-rating-stars;
    background-image: url('./img/open-star-dim-yellow.svg');
    cursor: initial;
  }
}

.Rating-selected-star {
  background-image: url('./img/closed-star-gray.svg');
}

.Rating--editable .Rating-selected-star {
  background-image: url('./img/closed-star-yellow.svg');
}

.Rating-half-star {
  background-image: url('./img/half-star-gray.svg');

  [dir='rtl'] & {
    transform: scaleX(-1);
  }
}

.Rating--yellowStars {
  // When stars are read-only, they are closed. Otherwise, they are open.
  .Rating-star {
    background-image: url('./img/closed-star-dim-yellow.svg');
  }

  &.Rating--editable .Rating-star {
    background-image: url('./img/open-star-dim-yellow.svg');
  }

  .Rating-selected-star,
  &.Rating--editable .Rating-selected-star {
    background-image: url('./img/closed-star-yellow.svg');
  }

  // This doesn't define an editable half-star because that's not possible.
  .Rating-half-star {
    background-image: url('./img/half-star-yellow.svg');
  }
}
