@import '~amo/css/styles';

.Addon {
  @include page-padding;
}

.Addon-icon-wrapper {
  height: 40px;
  overflow: hidden;
  width: 40px;

  @include respond-to(large) {
    height: 48px;
    width: 48px;
  }

  @include respond-to(extraLarge) {
    height: 64px;
    width: 64px;
  }
}

.Addon-icon-image {
  height: auto;
  width: 100%;
}

.Addon-warnings > * {
  margin-bottom: 16px;
}

.Addon-screenshots,
.PermissionsCard,
.AddonMoreInfo,
.Addon-description-and-ratings {
  border-top: 1px solid $grey-30;
  margin-top: 32px;
  padding-top: 16px;
}

.Addon-content > .Card-contents {
  @include respond-to(large) {
    padding: 32px 24px;
  }
}

.Addon-header {
  gap: 8px 0;
  display: flex;
  flex-direction: column;

  & .Addon-theme-thumbnail {
    background-color: $background-grey;
    border-radius: $border-radius-default;
    grid-area: theme;
    margin-top: 16px;
    padding: 24px;

    .ThemeImage {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 12%);
      margin: 0 auto;
    }

    @include respond-to(extraLarge) {
      padding: 48px 24px;
    }
  }

  & .Addon-icon-wrapper {
    grid-area: icon;
    @include margin-end(16px);
  }

  & .Addon-info {
    grid-area: info;
  }

  & .AddonBadges {
    grid-area: badge;
  }

  & .Addon-install {
    grid-area: install;
    margin-top: 16px;
  }

  @include respond-to(large) {
    gap: 16px 16px;
    display: grid;
    grid-template:
      'icon  info' auto
      '.     badge' auto
      '.     install' auto
      / 48px auto;

    .Addon-theme & {
      grid-template:
        'info' auto
        'badge' auto
        'install' auto
        'theme' auto;
    }

    & .Addon-install {
      justify-self: end;

      .InstallButtonWrapper {
        width: 320px;
      }
    }
  }

  @include respond-to(extraLarge) {
    grid-template:
      'icon info  install' auto
      '.    badge .' auto
      / 64px auto;

    .Addon-theme & {
      grid-template:
        'info install' auto
        'badge .' auto
        'theme theme' auto;
    }

    & .Addon-install {
      margin-top: 0;
    }
  }
}

.Addon-summary {
  font-size: $font-size-default;
  overflow-x: auto;
  margin: 0;
  margin-top: 14px;
}

.Addon .AMInstallButton-button {
  width: 100%;
}

.Addon-description-and-ratings {
  display: flex;
  flex-direction: column;

  .AddonDescription {
    border-bottom: 1px solid $grey-30;
    margin: 0 0 16px;
    padding-bottom: 32px;

    .Card-contents {
      max-width: 760px;
    }
  }

  .Addon-overall-rating {
    @include respond-to(medium) {
      width: 450px;
    }
  }

  @include respond-to(extraExtraLarge) {
    .AddonDescription {
      @include padding-end(64px);

      border: 0;
      flex: 1;
      margin: 0;
      padding-bottom: 0;
    }
  }
}

// Details section with lots of grid stuff, on larger displays.
@include respond-to(large) {
  .Addon-screenshots {
    // overflow required to fix content overlap in Safari.
    // See https://github.com/mozilla/addons-frontend/issues/2847

    overflow-x: hidden;
  }

  // We hide this "Read reviews" link on larger displays as we actually show
  // the first page of reviews on the page.
  // TODO: Enable this once we load reviews on the addon page.
  // See: https://github.com/mozilla/addons-frontend/issues/2552
  // .Addon-overall-rating .Card-footer-link {
  //   display: none;
  // }

  .AddonMoreInfo dl {
    column-count: 2;
  }
}

@include respond-to(extraExtraLarge) {
  .AddonMoreInfo dl {
    column-count: 3;
  }

  .Addon-description-and-ratings {
    flex-direction: row;
  }
}

.Addon-WrongPlatformWarning {
  padding-left: 0;
  padding-right: 0;
}

.Addon-developer-comments-header {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddonDescription-contents + .Addon-developer-comments {
  .Addon-developer-comments-header {
    margin-top: 24px;
  }
}

.ContributeCard {
  margin: 32px auto 0;

  &.ContributeCard-extension {
    margin-bottom: 32px;
  }
}

.AddonRecommendations {
  // This is the last card in the page, and it doesn't need a `margin-bottom`,
  // which `.CardList` adds by default.
  margin-bottom: 0;
}
