@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~photon-colors/colors";

.AddonMoreInfo-contents {
  margin: 0;
  padding: 0;

  dt {
    @include font-regular();

    color: $grey-50;
    margin: 0;
    padding: 0;
  }

  dd {
    @include font-medium();

    margin: 0 0 12px;
    padding: 0;
  }
}

.AddonMoreInfo-links-contents-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
