@import '~amo/css/styles';

$icon-size: 32px;

.AddonFeedbackForm-header > .Card-contents {
  align-items: center;
  display: grid;
  grid-template-columns: ($icon-size + 16px) 1fr;

  .AddonFeedbackForm-header-icon {
    grid-column: 1;
  }

  .AddonFeedbackForm-header-icon-wrapper {
    height: $icon-size;
    overflow: hidden;
    width: $icon-size;
  }

  .AddonFeedbackForm-header-icon-image {
    height: auto;
    width: 100%;
  }

  .AddonTitle {
    font-size: $font-size-heading-xs;
    grid-column: 2;
    margin-bottom: 0;

    .AddonTitle-author {
      &,
      a,
      a:link {
        font-size: $font-size-l;
      }
    }
  }
}
