@import '~amo/css/styles';

.HeroRecommendation {
  color: $white;
  display: flex;
  padding: 24px;
  position: relative;

  @include respond-to(extraExtraLarge) {
    padding: 36px;

    @include padding-start(96px);
  }
}

.HeroRecommendation-info {
  @include margin-start(24px);

  @include respond-to(extraLarge) {
    @include margin-start(96px);
  }

  @include respond-to(extraExtraLarge) {
    @include margin-start(136px);
  }
}

$overlayShapeZIndex: 1;

.HeroRecommendation-overlayShape {
  bottom: 0;
  height: 70%;
  left: 0;
  max-height: 307px;
  position: absolute;
  z-index: $overlayShapeZIndex;

  [dir='rtl'] & {
    left: auto;
    right: 0;
    transform: scaleX(-1);
  }
}

.HeroRecommendation-image {
  height: 0;
  visibility: hidden;
  width: 0;

  @include respond-to(medium) {
    height: auto;
    visibility: visible;
    width: 100%;
  }

  @include respond-to(extraExtraLarge) {
    width: 480px;
  }
}

.HeroRecommendation-recommended {
  font-size: $font-size-s;
  letter-spacing: 0.1em;
  line-height: 1.143;
  margin: 0;
  opacity: 0.5;

  @include respond-to(medium) {
    font-size: $font-size-default;
  }

  @include respond-to(extraExtraLarge) {
    margin-top: 16px;
  }
}

.HeroRecommendation-heading {
  color: $white;
  font-size: $font-size-l;
  line-height: 1.188;
  margin: 14px 0 0 0;

  @include respond-to(extraExtraLarge) {
    font-size: $font-size-xl;
  }
}

.HeroRecommendation-body {
  font-size: $font-size-s;
  font-weight: normal;
  line-height: 1.666;
  margin: 24px 0;

  @include respond-to(medium) {
    font-size: $font-size-m;
  }

  @include respond-to(extraExtraLarge) {
    margin-bottom: 84px;
  }
}

.HeroRecommendation-linkText {
  display: inline-block;
  transition: transform $transition-medium ease;
}

.HeroRecommendation-link {
  border: 4px solid $white;
  display: inline-block;
  font-size: $font-size-m;
  line-height: 1.25;
  padding: 12px 48px;
  white-space: nowrap;

  &,
  &:active,
  &:link,
  &:hover,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:active,
  &:hover {
    .HeroRecommendation-linkText {
      transform: scale(1.05);
    }
  }
}

.HeroRecommendation-heading,
.HeroRecommendation-body,
.HeroRecommendation-link {
  position: relative;
  z-index: $overlayShapeZIndex + 1;
}

.HeroRecommendation-purple {
  $heroPurple1: #20123a;
  $heroPurple2: #712290;
  $heroPurple3: #592acb;
  $heroPurple4: #312a65;
  $heroPurple5: #9059ff;
  $heroPurple6: #e31587;
  $heroPurple7: #312a65;

  background-image: linear-gradient($heroPurple1, $heroPurple2);

  .HeroRecommendation-gradientA-startColor {
    stop-color: $heroPurple3;
  }

  .HeroRecommendation-gradientA-endColor {
    stop-color: $heroPurple4;
  }

  .HeroRecommendation-gradientB-startColor {
    stop-color: $heroPurple5;
  }

  .HeroRecommendation-gradientB-endColor {
    stop-color: $heroPurple6;
  }

  .HeroRecommendation-solidSwoosh {
    fill: $heroPurple7;
  }

  .HeroRecommendation-link {
    // Fill the button on small screens in case the overlayShape overlaps it.
    background-color: $heroPurple2;

    @include respond-to(large) {
      background-color: transparent;
    }
  }
}
