@import '~amo/css/styles';

.HeroRecommendation-wrapper {
  margin: 0 auto;
  max-width: $max-content-width;
}

.HeroRecommendation--height-with-notice {
  min-height: 328px;

  @include respond-to(extraExtraLarge) {
    min-height: 452px;
  }
}

.HeroRecommendation--height-without-notice {
  min-height: 252px;

  @include respond-to(extraExtraLarge) {
    min-height: 376px;
  }
}

.HeroRecommendation-banner {
  padding-bottom: 0;
}

.HeroRecommendation-content {
  color: $white;
  display: flex;
  min-width: 0;
  padding: 24px;

  @include respond-to(extraExtraLarge) {
    padding: 36px;
  }
}

.HeroRecommendation-info {
  display: flex;
  flex-direction: column;

  @include respond-to(medium) {
    @include margin-start(24px);
  }

  @include respond-to(extraLarge) {
    @include margin-start(96px);
  }

  @include respond-to(extraExtraLarge) {
    @include margin-start(132px);
  }
}

.HeroRecommendation-recommended {
  font-size: $font-size-s;
  letter-spacing: 0.1em;
  line-height: 1.143;
  margin: 0;
  opacity: 0.5;

  @include respond-to(medium) {
    font-size: $font-size-default;
  }

  @include respond-to(extraExtraLarge) {
    margin-top: 16px;
  }
}

.HeroRecommendation-body,
.HeroRecommendation-heading,
.HeroRecommendation-recommended {
  width: 100%;

  .LoadingText {
    height: 1em;
  }
}

.HeroRecommendation-heading {
  color: $white;
  font-size: $font-size-l;
  font-weight: normal;
  line-height: 1.188;
  margin: 14px 0 0 0;
  overflow-wrap: anywhere;

  @include respond-to(extraExtraLarge) {
    font-size: $font-size-xl;
  }
}

.HeroRecommendation-body {
  font-size: $font-size-s;
  font-weight: normal;
  line-height: 1.666;
  margin: 24px 0;

  @include respond-to(medium) {
    font-size: $font-size-m;
  }

  @include respond-to(extraExtraLarge) {
    margin-bottom: 84px;
  }
}

.HeroRecommendation--no-image {
  justify-content: center;

  @include respond-to(extraExtraLarge) {
    @include padding-start(36px);
  }

  .HeroRecommendation-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include respond-to(large) {
      width: 576px;
    }
  }

  .HeroRecommendation-recommended,
  .HeroRecommendation-heading,
  .HeroRecommendation-body,
  .HeroRecommendation-link {
    text-align: center;
  }
}

.HeroRecommendation-image {
  height: 0;
  visibility: hidden;
  width: 0;

  @include respond-to(medium) {
    height: auto;
    visibility: visible;
    width: 100%;
  }

  @include respond-to(extraExtraLarge) {
    width: 480px;
  }
}

.HeroRecommendation-link {
  background-color: transparent;
  border: 4px solid $white;
  display: inline-block;
  font-size: $font-size-m;
  line-height: 1.25;
  padding: 12px 24px;
  text-align: center;
  // The theme styles will add a hover effect.
  transition: background-color $transition-medium ease-in-out;
  white-space: nowrap;

  &,
  &:active,
  &:link,
  &:hover,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  @include respond-to(medium) {
    padding: 12px 48px;
  }
}

@mixin gradientStyle($startColor, $stopColor) {
  background-image: linear-gradient($startColor, $stopColor);

  .HeroRecommendation-link {
    &:hover,
    &:active {
      background-color: $stopColor;
    }
  }
}

// Styles that correspond to gradients returned by the hero API
.HeroRecommendation-color-ink-80-color-blue-70 {
  @include gradientStyle($color-ink-80, $color-blue-70);
}

.HeroRecommendation-color-ink-80-color-green-70 {
  @include gradientStyle($color-ink-80, $color-green-70);
}

.HeroRecommendation-color-ink-80-color-pink-70 {
  @include gradientStyle($color-ink-80, $color-pink-70);
}

.HeroRecommendation-color-ink-80-color-purple-70 {
  @include gradientStyle($color-ink-80, $color-purple-70);
}

.HeroRecommendation-color-ink-80-color-violet-70 {
  @include gradientStyle($color-ink-80, $color-violet-70);
}

.HeroRecommendation--loading {
  @include gradientStyle($color-ink-80, $color-blue-70);
}
