@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";

.AddonReviewList {
  padding: $padding-page;

  @include respond-to(large) {
    padding: $padding-page-l;
  }

  .CardList {
    margin-bottom: $vertical-space-xs;
  }
}

.AddonReviewList-header {
  align-items: center;
  display: flex;
  margin: 15px 0;

  .AddonReviewList-header-text {
    // Flex implicitly sets `min-width: auto`; to force the overflow fix
    // for https://github.com/mozilla/addons-frontend/issues/2415
    // we set a min-width.
    min-width: 1%;

    > h2,
    > h3 {
      font-size: 1.1em;
    }

    > h2 {
      margin: 0 0 5px;
      padding-top: 10px;
    }

    > h3 {
      font-weight: normal;
      margin: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $primary-font-color;
      font-weight: normal;
      text-decoration: none;
      word-wrap: break-word;
    }
  }

  .AddonReviewList-header-icon {
    margin: 0 20px;
    padding-top: 6px;
  }
}
