{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
