{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "babel-plugin-dedent",
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ]
}
