{
  "env": {
    "mocha": true,
  },
  "extends": "airbnb",
  "globals": {
    "dedent",
    "CLIENT_CONFIG": true,
    "assert": true,
    "sinon": true,
    "webpackIsomorphicTools": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": "off",
    "space-before-function-paren": ["error", "never"],
    "react/prefer-stateless-function": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-first-prop-new-line": "off"
  }
}
