save-prefix=''
# This allows us to use `npm version` to bump the version of `addons-frontend-blog-utils`
# without having to remember to use a special tag prefix. We'll have to find a different
# strategy if we build another lib in addons-frontend.
tag-version-prefix = "blog-utils-"
message = ":arrow_up: release %s"
