{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-closing-brace-newline-after": ["always", {
      "ignoreAtRules": ["if", "else"],
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "content",
        "else", 
        "for",
        "if", 
        "include",
        "mixin",
        "warn",
      ],
    }],
    "max-nesting-depth": [3, {
      "ignore": ["at-rules-without-declaration-blocks"],
    }],
    "function-url-quotes": ["always"],
  }
}
