{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": [
          "after-comment",
          "blockless-after-same-name-blockless",
          "inside-block",
        ],
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "content",
          "each",
          "else",
          "for",
          "function",
          "if",
          "include",
          "mixin",
          "return",
          "warn",
        ],
      }
    ],
    "color-function-notation": null,
    "declaration-colon-newline-after": null,
    "function-disallowed-list": [
      "random"
    ],
    "function-url-quotes": [
      "always"
    ],
    "indentation": null,
    "max-nesting-depth": [
      3,
      {
        "ignore": [
          "blockless-at-rules"
        ],
      }
    ],
    "no-descending-specificity": null,
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "scss/dollar-variable-colon-space-after": "always-single-line",
    "scss/dollar-variable-pattern": null,
    "scss/no-global-function-names": null,
    "selector-class-pattern": "^([a-zA-Z][a-zA-Z0-9]*)([-[a-zA-Z0-9]+|--[a-zA-Z0-9]+])*$",
    "selector-id-pattern": "^([a-zA-Z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$",
    "string-quotes": null,
    "value-keyword-case": null,
    "value-list-comma-newline-after": null,
    "selector-not-notation": "simple"
  }
}
