language: node_js
node_js:
- '4'
env:
  matrix:
  - TASK=lint
  - TASK=unittest GUI=1
  global:
    secure: m1hVHTy/jgPlj2Z79Gt++NFKKUIBMYtOVtU9WbQSTpAesspPvNZbfirUSdo/50rfLD9UWO9RGITWbBx9JJ6QakbxN0reTC40O/dbJOWmhr97vZwLNENmfqfgAttb3U1WYC0BcdYo3XsKz/8dsQVhXHDLgq+WUeyj+y7Ku+R71pZgJxDuTCzyUCEXGotVMwMtWx6JjlZtyjyJX+Ec8Em2aC81z9Udcm60cFFr7RXMpSMkOeKBj7ujCUxXsIoxTigXJaWQOcsUcBNG9Gh2QO3ATc1YiRdXhxqi3O8yVAJUpm6Lt4gBk9VAGN01cIJzOZzYq5GqwmgR8ZrRBtz/8rQL/KDQLxpuo1K9iEZ1d6OXDgcdY6CpgguFKsRhLnB758LQ51ZA4K5pTSxPPN7yY39c2tRz7GqR97TMafg5lRqBEVp9qH4dlFowh1lOOEM9swO5cljc/92HsOqd2XMRP4CmatAbb25plLYnVL4tBdQrFQzluhkYHkYcpPBSwJRAITRTlvZ28jHf7ert9u+f7jUthGxbI6RpLmAwuynWcHaWjJpBRenfAOHMUWzfzMix9Zn4gS70AC1RaPuC1DMgH/jcTaR7Q3hscTrdmarHD0kSOiIvJcZp767EtNeifiW1DOHW2vWOrrgKeXm0XwQ72jlIbKkJLykjWdpjFJmMcqec9/U=
cache:
  directories:
  - node_modules
before_install:
- npm install -g npm@3
- npm --version
before_script:
- if [ $GUI ]; then export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3; fi
script:
- npm run $TASK
