@import "./vars";
@import "~core/css/inc/mixins";

@mixin icon($name) {
  background: url("./img/#{$name}.svg") center no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: $default-icon-size;
  width: $default-icon-size;
}

.Icon-arrow {
  @include icon($name: "arrow");

  [dir=rtl] & {
    transform: rotate(180deg);
  }
}

.Icon-arrow-blue {
  @include icon($name: "arrow-blue");

  [dir=rtl] & {
    right: auto;
    transform: rotate(180deg);
  }
}

.Icon-magnifying-glass {
  @include icon($name: "magnifying-glass");
}

.Icon-eye {
  @include icon($name: "eye");

  background-size: cover;

  &,
  .Button & {
    width: 23px;
  }
}

.Icon-mozilla {
  @include icon($name: "mozilla");

  height: 32px;
  width: 112px;
}

.Icon-triangle-down {
  @include icon($name: "triangle-down");
}

.Icon-triangle-down-black {
  @include icon($name: "triangle-down-black");
}

.Icon-external {
  @include icon($name: "external");
  @include margin-start(5px);

  height: 10px;
  width: 10px;
}

.Icon-user {
  @include icon($name: "user");
}

.Icon-twitter {
  @include icon($name: "twitter");
}

.Icon-facebook {
  @include icon($name: "facebook");
}

.Icon-youtube {
  @include icon($name: "youtube");
}

.Icon-star {
  @include icon($name: "star");
}

.Icon-star-empty {
  @include icon($name: "star-empty");
}

.Icon-star-full {
  @include icon($name: "star-full");
}

.Icon-star-half {
  @include icon($name: "star-half");
}

.Icon-user-dark {
  @include icon($name: "user-dark");
}

.Icon-user-fill {
  @include icon($name: "user-fill");
}

.Icon-browse {
  @include icon($name: "bullet-list");

  background-size: cover;
  height: 20px;
  width: 20px;
}

.Icon-themes {
  @include icon($name: "themes");

  background-size: cover;
  height: 45px;
  min-width: 37.3px;
  width: 37.3px;
}

.Icon-extensions {
  @include icon($name: "extensions");

  background-size: cover;
  height: 44.7px;
  min-width: 46.3px;
  width: 46.3px;
}

.Icon-featured {
  @include icon($name: "featured");
}

.Icon-restart {
  @include icon($name: "restart");
}

.Icon-inverted-caret {
  @include icon($name: "inverted-caret");
}

.Icon-experimental-badge {
  @include icon($name: "experimental-badge");
}

.Icon-plus {
  @include icon($name: "plus");
}

.Icon-reply-arrow {
  @include icon($name: "reply-arrow");

  height: 11.68px;
  width: 14px;

  [dir=rtl] & {
    // Flip the horizontal orientation of the arrow.
    transform: scaleX(-1);
  }
}

.Icon-heart {
  @include icon($name: "heart");
}

.Icon-not-compatible {
  @include icon($name: "not-compatible");
}

.Icon-x-mark {
  @include icon($name: "x-mark");
}

.Icon-requires-payment {
  @include icon($name: "requires-payment");
}
