@import "./vars";

.Icon {
  content: '';
  display: inline-block;
  height: $default-icon-size;
  width: $default-icon-size;
}

.Icon-magnifying-glass {
  background: url('~amo/img/icons/magnifying-glass.svg') center no-repeat;
  background-size: cover;
}

.Icon-eye {
  background: url('./eye.svg') center no-repeat;
  background-size: cover;
  width: 23px;
}

.Icon-fox {
  background: url('./fox.svg') center no-repeat;
  background-size: cover;
}

.Icon-user {
  background: url('./user.svg') center no-repeat;
  background-size: contain;
}

.Icon-star {
  background: url('./star.svg') center no-repeat;
  background-size: contain;
}

.Icon-star-empty {
  background: url('./star-empty.svg') center no-repeat;
  background-size: contain;
}

.Icon-star-full {
  background: url('./star-full.svg') center no-repeat;
  background-size: contain;
}

.Icon-star-half {
  background: url('./star-half.svg') center no-repeat;
  background-size: contain;
}

.Icon-user-dark {
  background: url('./user-dark.svg') center no-repeat;
  background-size: contain;
}
