@import "./vars";
@import '~core/css/inc/mixins';

.Icon {
  content: '';
  display: inline-block;
  height: $default-icon-size;
  width: $default-icon-size;
}

.Icon-magnifying-glass {
  background: url('~amo/img/icons/magnifying-glass.svg') center no-repeat;
  background-size: cover;
}

.Icon-eye {
  background: url('./eye.svg') center no-repeat;
  background-size: cover;
  width: 23px;
}

.Icon-fox {
  background: url('./fox.svg') center no-repeat;
  background-size: cover;
}

.Icon-user {
  background: url('./user.svg') center no-repeat;
  background-size: contain;
}

.Icon-star {
  background: url('./star.svg') center no-repeat;
  background-size: contain;
}

.Icon-user-dark {
  background: url('./user-dark.svg') center no-repeat;
  background-size: contain;
}

.LandingPage-browse-icon {
  background: url('bullet-list.svg') 50% 50% no-repeat;
  background-size: cover;
  height: 30px;

  @include margin-end(1em);

  vertical-align: middle;
  width: 30px;
}

.Icon-themes {
  background: url('themes.svg') 50% 50% no-repeat;
  background-size: cover;
  height: 50px;
  margin-bottom: 15px;
  width: 41.5px;
}

.Icon-extensions {
  background: url('extensions.svg') 50% 50% no-repeat;
  background-size: cover;
  display: inline-block;
  height: 47.8px;
  margin-bottom: 15px;
  width: 49.2px;
}
