@import "./vars";
@import '~core/css/inc/mixins';

.Icon {
  content: '';
  display: inline-block;
  height: $default-icon-size;
  width: $default-icon-size;
}

.Icon-magnifying-glass {
  background: url('~amo/img/icons/magnifying-glass.svg') center no-repeat;
  background-size: cover;
}

.Icon-eye {
  background: url('./eye.svg') center no-repeat;
  background-size: cover;
  width: 23px;
}

.Icon-fox {
  background: url('./fox.svg') center no-repeat;
  background-size: cover;
}

.Icon-user {
  background: url('./user.svg') center no-repeat;
  background-size: contain;
}

.Icon-star {
  background: url('./star.svg') center no-repeat;
  background-size: contain;
}

.Icon-user-dark {
  background: url('./user-dark.svg') center no-repeat;
  background-size: contain;
}

.Icon-browse {
  background: url('./bullet-list.svg') center no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}

.Icon-themes {
  background: url('./themes.svg') center no-repeat;
  background-size: cover;
  height: 45px;
  min-width: 37.3px;
  width: 37.3px;
}

.Icon-extensions {
  background: url('./extensions.svg') center no-repeat;
  background-size: cover;
  height: 44.7px;
  min-width: 46.3px;
  width: 46.3px;
}
