@import '~amo/css/inc/vars';
@import '~core/css/inc/mixins';

.Category {
  padding: $padding-page;
  padding-top: 0;

  @include respond-to(large) {
    padding: $padding-page-l;
    padding-top: 0;
  }
}

.Category .ErrorList {
  margin: 10px 10px 0;
}
