@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";

.Category {
  padding: $padding-page;

  @include respond-to(large) {
    padding: $padding-page-l;
  }
}

.Category .ErrorList {
  margin: 10px 10px 0;
}
