@import '~amo/css/styles';

.AddonInfo {
  @include page-padding();

  @include respond-to(large) {
    display: flex;
  }
}

.AddonInfo-info {
  margin-top: $padding-page;

  @include respond-to(large) {
    @include margin-start($padding-page-l);

    margin-top: 0;
    width: 65%;
  }
}

.AddonMoreInfo-tag-links-list > li {
  display: inline-block;
}

.AddonMoreInfo-tag-links-list > li::after {
  content: ',\00a0';
}

.AddonMoreInfo-tag-links-list > li:last-child::after {
  content: '';
}
