@import "~normalize.css";
@import "~core/css/inc/vars";
@import "~core/css/inc/lib";

body {
  background: $body-and-accent-color;
  color: $text-color-default;
}

.App {
  margin: 20px;
}

* {
  box-sizing: border-box;
}
