@import '~amo/css/styles';

html,
body {
  // This overrides the App background style which makes it hard to see
  // in storybook.
  background: #fff;
  // Giving extra cushion so nothing gets covered.
  padding: 24px 12px 12px;
}

// Setting up chapter styles.
.section-container {
  border-bottom: 1px solid $background-grey;
  display: block;
  padding: 20px;

  @include respond-to(medium) {
    align-items: center;
    display: flex;
  }

  .section-header {
    flex-grow: 1;
  }

  .section-subtitle {
    @include respond-to(large) {
      margin: 0;
    }
  }
}

.chapter-h3 {
  margin-top: 50px;
}

.story-header {
  // Unfortunately I don't see a lot of classes with chapter
  // so overriding the above style in this way seems to be
  // the only way.
  + div {
    .section-header {
      flex-grow: initial;
    }
  }
}
