@import "~ui/css/vars";

.DismissibleTextForm-buttons {
  display: flex;
  justify-content: space-between;
}

.DismissibleTextForm-dismiss {
  align-self: center;
}

.DismissibleTextForm-dismiss--disabled:link {
  color: $neutral-base-color;
  cursor: not-allowed;
}

.DismissibleTextForm-textarea {
  font-size: $font-size-m-smaller;
  line-height: 1.4;
  margin: 5px auto;
  // This is the height of two lines of text. Often the placeholder text
  // will span two lines–because this element will grow/shrink based on
  // the contents of the text inside it, we set a minimum height so it
  // won't shrink when the two-line placeholder is replaced with a single
  // character when the user starts typing.
  min-height: 51px;
  padding: 5px;
  resize: none;
  width: 100%;
}
