@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.Paginate-page-number {
  font-weight: bold;
  margin: 0 0 5px;
  text-align: center;
}

.Paginate-links {
  display: flex;
  justify-content: space-between;
}

.Paginate {
  margin-bottom: 30px;
  padding: 0 30px;
}

.Paginate .Paginate-item {
  min-width: 48%;
}
