@import '~core/css/inc/mixins';

.Paginate-page-number {
  font-weight: bold;
  margin: 0 0 5px;
  text-align: center;
}

.Paginate-links {
  display: flex;
  justify-content: space-between;
}

.Paginate {
  padding: 0 30px;
  margin-bottom: 30px;
}

.Paginate .Paginate-item {
  @include button($background: $base-color, $color: $link-color);

  display: inline-block;
  font-size: $font-size-s;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 2;
  min-width: 48%;
  text-align: center;
}

.Paginate-previous {
  &::before {
    @include arrow-previous();
  }
}

.Paginate-next {
  &::after {
    @include arrow-next();
  }
}
