{
  "env": {
    "jest": true,
  },
  "extends": [
    "plugin:promise/recommended",
  ],
  "globals": {
    "sinon": true,
  },
  "plugins": [
    "promise",
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      // Allow dev-dependencies in this directory.
      "devDependencies": true
    }],
    "promise/always-return": "off",
    "promise/avoid-new": "off",
    "promise/no-nesting": "off",
  },
  "settings": {
    "import/resolver": {
      "node": {
        // This adds ./src and `cwd` for relative imports.
        "moduleDirectory": ["node_modules", "src", ""]
      }
    }
  }
}
