@import '~amo/css/styles';

.GetFirefoxButton-button {
  background: #ffe900;
  // Button.tsx defines classes that override this color, so we need to use !important
  color: black !important;

  @include respond-to(extraLarge) {
    text-wrap: nowrap;
  }

  width: 100%;
  text-wrap: wrap;
  text-align: center;
  padding: 12px 18px;
}
