@import "~core/css/inc/mixins";
@import "~photon-colors/photon-colors";
@import "~ui/css/vars";

.CollectionList {
  padding: $padding-page;

  @include respond-to(large) {
    padding: $padding-page-l;
  }

  .Card-contents {
    font-size: $font-size-m-smaller;
  }
}

.CollectionList-wrapper {
  @include respond-to(large) {
    display: grid;
    grid-auto-flow: column dense;
    grid-gap: 0 $padding-page-l;
    grid-template-columns: minmax(300px, 35%) 1fr;
    margin: 10px 0 0;

    .CollectionList-list.CardList {
      background: $white;
      margin: 0;
    }
  }
}

.CollectionList-create {
  margin-top: 18px;
  width: 100%;
}

.CollectionList-listing {
  @include respond-to(large) {
    display: grid;
    grid-auto-flow: initial;
    grid-template-columns: repeat(2, 50%);
    margin: 0;
    padding: 0;
  }
}
