@use '~amo/css/styles' as *;

.Select {
  @include padding-end(24px);
  @include padding-start(6px);

  appearance: none;
  background-color: $grey-30;
  background-image: url('~amo/components/Icon/img/triangle-down-black.svg');
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  background-size: 12px;
  border: 0;
  border-radius: $border-radius-s;
  color: var(--text-color-default);
  display: block;
  line-height: $line-height-compressed;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  [dir='rtl'] & {
    background-position: 10px 50%;
  }

  // On dark surfaces, darken the control and swap to the light arrow asset.
  @include dark-theme {
    background-color: $color-dark-gray-50;
    background-image: url('~amo/components/Icon/img/triangle-down.svg');
  }
}
