@import '~amo/css/styles';

.InstallButtonWrapper {
  @include respond-to(medium) {
    @include margin-start(auto);

    align-self: center;
  }
}

.InstallButtonWrapper-download {
  margin: 12px 0;

  a,
  a:link {
    color: $sub-text-color;
    font-size: $font-size-s;
    font-weight: lighter;
  }
}

.oldDownload {
  color: #6a6a6a !important;
  font-weight: lighter !important;
}
