@import '~amo/css/styles';

.SearchContextCard-header {
  font-size: $font-size-m;
  margin: 0;
  @include longStringHandler($word: true)

  @include respond-to(large) {
    font-size: $font-size-l;
  }
}
