@import '~core/css/inc/lib';
@import '~disco/css/styles';

html,
body {
  background: $page-background;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
}

.App {
  box-sizing: content-box;
  max-width: 680px;
  min-width: 260px;
  padding: 10px 20px 20px;

  @include respond-to(large) {
    padding-top: 50px;
  }
}

// Special class to apply compensation
// for the padding applied by xul in FF < 50.
.App--padding-compensation {
  @include padding-end(68px);
}
