@import '~core/css/inc/mixins';
@import '~amo/css/inc/vars';
@import '~ui/css/vars';

.AddonMeta-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AddonMeta-text,
.AddonMeta-loading-wrapper {
  @include text-align-start();

  margin: 0;
  max-width: 30%;
  padding: 0;
}

.AddonMeta-item-subheader {
  @include font-light();

  display: block;
  margin: 0;
  padding: 0;
}

.AddonMeta-overallRating {
  margin-bottom: 24px;

  .Rating {
    height: 16px;
  }

  .MetadataCard-list {
    max-width: none;
  }
}

.AddonMeta-rating-content,
.AddonMeta-rating-title {
  display: flex;
  justify-content: center;
}

.AddonMeta .MetadataCard-content,
.AddonMeta .MetadataCard-title {
  a,
  a:link,
  a:visited {
    color: $grey-50;
    font-weight: normal;
    text-decoration: none;
  }

  a:active,
  a:hover {
    color: $link-color;
  }

  a:focus {
    @include focus();
  }
}
