@import '~amo/css/styles';

.AddonVersionCard {
  display: block;

  .InstallWarning {
    margin: 8px auto 0 auto;

    @include respond-to(large) {
      margin: 0 auto;
    }
  }
}

.AddonVersionCard-content {
  @include respond-to(large) {
    display: flex;
  }

  .InstallButtonWrapper {
    align-self: center;

    .Button {
      width: 100%;
    }
  }
}

.AddonVersionCard-header {
  @include font-regular();
  @include text-align-start();

  font-size: $font-size-form-header;
}

.AddonVersionCard-version {
  @include font-medium();

  color: $link-color;
  font-size: $font-size-l;
}

.AddonVersionCard-fileInfo,
.AddonVersionCard-compatibility {
  color: $grey-50;
}

.AddonVersionCard-releaseNotes {
  font-size: $font-size-default;
  margin-top: $padding-page;

  @include respond-to(medium) {
    margin-top: $padding-page-l;
  }
}

.AddonVersionCard-license {
  color: $grey-50;
}
