@import '~amo/css/styles';

.AddonVersionCard {
  display: flex;

  .InstallButtonWrapper {
    align-self: start;
  }
}

.AddonVersionCard-header {
  @include font-bold();
  @include text-align-start();

  font-size: $font-size-default;
}

.AddonVersionCard-releaseNotes {
  margin-top: $padding-page;

  @include respond-to(medium) {
    margin-top: $padding-page-l;
  }
}
