@import "~photon-colors/photon-colors";
@import "~core/css/inc/mixins";
@import "~core/css/inc/vars.scss";
@import "~amo/css/inc/vars";

.CollectionManager {
  .NoticePlaceholder {
    margin-top: 16px;
    min-height: 32px;

    + .AutoSearchInput {
      .AutoSearchInput-label {
        padding-top: 4px;
      }
    }
  }

  .AutoSearchInput-query {
    border: 1px solid $grey-50;
    border-radius: $border-radius-xs;

    &:focus {
      box-shadow: none;
    }
  }

  label {
    display: block;
    font-size: $font-size-s;
    padding: 24px 0 6px;
  }

  .Notice {
    &.NoticePlaceholder-transition-appear {
      opacity: 1;
    }

    &.NoticePlaceholder-transition-exit-active {
      opacity: 0;
      transition: opacity $transition-medium ease-in-out;
    }
  }

  .CollectionManager-collectionName {
    padding-top: 0;
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: $font-size-default * 3;
  }
}

.CollectionManager .AutoSearchInput--autocompleteIsOpen .AutoSearchInput-query {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.CollectionManager-slug {
  // Always render the grid left-to-right. This UI involves a URL so
  // it should always be displayed left-to-right.
  direction: ltr;
  display: grid;
  grid-template-columns: 40% 60%;

  input {
    // Disregarding text direction is intentional.
    border-left: none;
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
    width: auto;
  }
}

.CollectionManager-slug-url-hint {
  background-color: $grey-20;
  border: 1px solid $grey-50;
  border-radius: $border-radius-xs 0 0 $border-radius-xs;
  // Disregarding text direction is intentional.
  border-right: none;
  // Switch the direction so that the ellipsis truncates from the left.
  direction: rtl;
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.CollectionManager-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.CollectionManager-cancel {
  align-self: start;
}
