@import "~photon-colors/colors";
@import "~core/css/inc/mixins";
@import "~core/css/inc/vars.scss";
@import "~amo/css/inc/vars";

.CollectionManager {
  .AutoSearchInput-query {
    border: 1px solid $grey-50;
    border-radius: $border-radius-xs;

    &:focus {
      box-shadow: none;
    }
  }
}

.CollectionManager .AutoSearchInput--autocompleteIsOpen .AutoSearchInput-query {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.CollectionManager-slug {
  // Always render the grid left-to-right. This UI involves a URL so
  // it should always be displayed left-to-right.
  direction: ltr;
  display: grid;
  grid-template-columns: auto auto;

  input {
    // Disregarding text direction is intentional.
    border-left: none;
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
    width: auto;
  }
}

.FormOverlay-content .CollectionManager-collectionName {
  // This provides room for an error banner at the top of the form.
  padding-top: 12px;
}

.CollectionManager-addons {
  margin-top: 24px;
}

.CollectionManager-slug-url-hint {
  background-color: $grey-20;
  border: 1px solid $grey-50;
  border-radius: $border-radius-xs 0 0 $border-radius-xs;
  // Disregarding text direction is intentional.
  border-right: none;
  // Switch the direction so that the ellipsis truncates from the left.
  direction: rtl;
  overflow: hidden;
  padding: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
