@use '~amo/css/styles' as *;

.Paginate {
  padding: $padding-page;

  @include respond-to(large) {
    background-color: var(--background-grey);
    border-radius: $border-radius-default;
    display: inline-block;
    margin: 0 auto;
  }
}

.Paginate-links {
  display: flex;
  justify-content: center;
}

.Paginate .Button.Paginate-item {
  &,
  &:link,
  &:visited {
    background-color: var(--background-grey);
    color: var(--link-color);
    display: none;
    font-weight: normal;
    min-width: 48%;
    text-decoration: none;

    &:first-child,
    &:last-child {
      color: var(--text-color-default);
      display: flex;
    }

    @include respond-to(large) {
      background-color: transparent;
      display: flex;
      min-width: initial;
    }
  }

  &:hover,
  &:active {
    background-color: var(--light-hover-color);
  }
}

.Paginate .Button.Paginate-item--current-page {
  color: var(--text-color-default);
  opacity: 1;
}

.Paginate-item--previous {
  @include margin-end(6px);
}

.Paginate-item--next {
  @include margin-start(6px);
}

.Paginate-page-number {
  @include font-light;

  color: var(--sub-text-color);
  margin: $padding-page 0 0;
  text-align: center;
}
