@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.CategoriesHeader .Card-contents {
  display: flex;
}

.CategoriesHeader-loadingText {
  @include margin-end(5px);
}

.CategoriesHeader-list {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.CategoriesHeader-item {
  @include margin-end(5px);

  display: inline-block;
  margin: 0 0 5px;
  padding: 0;
}

@for $i from 1 through 12 {
  .CategoriesHeader--category-color-#{$i} {
    background: desaturate(nth($category-colors, $i), 20);
  }
}

@for $i from 1 through 10 {
  .CategoriesHeader--type-extension.CategoriesHeader--category-color-#{$i} {
    background: desaturate(nth($category-colors-extensions, $i), 20);
  }
}
