@import '~disco/css/styles';

.AddonCompatibilityError {
  background: $report-base-color;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 100%;

  &,
  a,
  a:link {
    color: $white;
  }
}
