@import '~ui/css/styles';
@import '~ui/components/IconRecommendedBadge/styles';

.RecommendedBadge {
  align-items: flex-start;
  color: $orange-50;
  display: flex;
  font-size: $font-size-micro;
  margin-bottom: 6px;

  &.RecommendedBadge-large {
    font-size: $font-size-m-smaller;
  }

  .Addon-theme & {
    @include margin-end(12px);
  }
  @include respond-to(large) {
    justify-content: flex-end;

    .Addon-theme & {
      justify-content: flex-start;
    }
  }
}

.RecommendedBadge-link {
  align-items: center;
  border: 1px solid $orange-50;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  max-height: $icon-recommended-small-size;

  .RecommendedBadge-large & {
    max-height: $icon-recommended-large-size;
  }

  &,
  &:link,
  &:visited {
    color: $orange-50;
    font-weight: normal;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    border-color: $orange-60;
    color: $orange-60;

    .IconRecommendedBadge-shellPath {
      fill: $orange-60;
    }
  }
}

.RecommendedBadge-label {
  @include margin-start(2px);
  @include margin-end(8px);

  .RecommendedBadge-large & {
    @include margin-start(6px);
  }

  color: $orange-80;
}
