@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.CardList {
  margin: 10px 0;

  .Card-contents {
    background: none;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    > li {
      background: $white;
      padding: 10px $padding-page;
      margin-bottom: 1px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
