@import '~amo/css/inc/vars';
@import '~core/css/inc/mixins';

.show-info {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  left: 10px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 20;

  @include respond-to(medium) {
    left: auto;
    max-width: 400px;
  }

  [dir='rtl'] & {
    left: 10px;
    right: auto;
  }

  .info {
    display: flex;
    flex-direction: row;
  }

  .logo {
    align-self: stretch;
    display: flex;
    padding: 20px;

    img {
      height: 48px;
      width: 48px;
    }
  }

  .copy {
    align-self: stretch;
    padding: 20px 20px 20px 0;

    :last-child {
      margin: 0;
    }

    [dir='rtl'] & {
      padding: 20px 0 20px 20px;
    }
  }

  h3 {
    margin: 0 0 0.5em;
  }

  p {
    margin-top: 0;
  }

  button {
    align-self: stretch;
    background: #2ea3ff;
    border: none;
    color: #fff;
    flex-direction: column;
    padding: 0.8em;
    transition: background 200ms;

    &:focus,
    &:hover {
      background: #0996f8;
    }
  }
}
