@import "~photon-colors/colors";
@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.HeroSection {
  background: url("./icons/default.svg") no-repeat center;
  background-size: cover;
  border-radius: $border-radius-default;
  font-size: $font-size-m;
  line-height: 1.2;
  position: relative;

  @include respond-to(large) {
    font-size: $font-size-l;
  }

  @include respond-to(extraLarge) {
    font-size: $font-size-header-carousel;
  }

  &::before {
    background: $teal-80;
    border-radius: $border-radius-default;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.HeroSection-wrapper,
.HeroSection-link-wrapper,
.HeroSection-link-wrapper:link, {
  align-items: flex-end;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 12px;
  position: relative;
  text-decoration: none;
}

.HeroSection-content {
  margin: auto 0 0;
}

.HeroSection-content h3 {
  @include font-regular();

  font-size: $font-size-m;
  line-height: 1.1;
  margin: 0 0 6px;
  width: 100%;

  @include respond-to(extraLarge) {
    @include font-bold();

    font-size: $font-size-l;
  }
}

.HeroSection-content p {
  @include font-light();

  display: block;
  font-size: $font-size-m-smaller;
  margin: 0 0 6px;
  width: 100%;

  @include respond-to(extraLarge) {
    font-size: $font-size-m;
  }
}
