@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

$default-icon-size: 64px;

@mixin icon($name) {
  display: inline-block;
  height: $default-icon-size;
  mask: url("./#{$name}.svg") no-repeat 50% 50%;
  transform: scale(0.8);
  width: $default-icon-size;

  // This prevents Edge from rendering a square block of color because it can't
  // mask over the SVG.
  @supports (-ms-ime-align:auto) {
    background: transparent url("./#{$name}.svg") center no-repeat;
    background-size: contain;
    content: "";
  }

  @include respond-to(medium) {
    transform: initial;
  }
}

@for $i from 1 through 12 {
  .CategoryIcon-#{$i} {
    background-color: nth($category-colors, $i);
  }
}

.Icon-category-abstract {
  @include icon($name: "abstract");
}

.Icon-category-alerts-updates {
  @include icon($name: "alerts-updates");
}

.Icon-category-appearance {
  @include icon($name: "appearance");
}

.Icon-category-bookmarks {
  @include icon($name: "bookmarks");
}

.Icon-category-causes {
  @include icon($name: "causes");
}

.Icon-category-download-management {
  @include icon($name: "download-management");
}

.Icon-category-fashion {
  @include icon($name: "fashion");
}

.Icon-category-feeds-news-blogging {
  @include icon($name: "feeds-news-blogging");
}

.Icon-category-film-and-tv {
  @include icon($name: "film-tv");
}

.Icon-category-firefox {
  @include icon($name: "firefox");
}

.Icon-category-foxkeh {
  @include icon($name: "foxkeh");
}

.Icon-category-games-entertainment {
  @include icon($name: "games-entertainment");
}

.Icon-category-holiday {
  @include icon($name: "holiday");
}

.Icon-category-language-support {
  @include icon($name: "language-support");
}

.Icon-category-music {
  @include icon($name: "music");
}

.Icon-category-nature {
  @include icon($name: "nature");
}

.Icon-category-other-extension {
  @include icon($name: "other-extension");
}

.Icon-category-other-persona {
  @include icon($name: "other-theme");
}

.Icon-category-photos-music-videos,
.Icon-category-photos-media {
  @include icon($name: "photos-music-video");
}

.Icon-category-privacy-security,
.Icon-category-security-privacy {
  @include icon($name: "privacy-security");
}

.Icon-category-scenery {
  @include icon($name: "scenery");
}

.Icon-category-search-tools {
  @include icon($name: "search-tools");
}

.Icon-category-seasonal {
  @include icon($name: "seasonal");
}

.Icon-category-shopping {
  @include icon($name: "shopping");
}

.Icon-category-social-communication,
.Icon-category-social-networking {
  @include icon($name: "social-communication");
}

.Icon-category-solid {
  @include icon($name: "solid");
}

.Icon-category-sports,
.Icon-category-sports-games {
  @include icon($name: "sports");
}

.Icon-category-tabs {
  @include icon($name: "tabs");
}

.Icon-category-web-development {
  @include icon($name: "web-development");
}

.Icon-category-websites {
  @include icon($name: "websites");
}

.Icon-category-device-features-location {
  @include icon($name: "device-features-location");
}

.Icon-category-experimental {
  @include icon($name: "experimental");
}

.Icon-category-performance {
  @include icon($name: "performance");
}

.Icon-category-user-interface {
  @include icon($name: "user-interface");
}
