@import './vars';

@mixin page-padding() {
  // This adds consistent padding to any top-level page component.
  // The top padding is zero to make room for the shared app banner.

  padding: $padding-page;
  padding-top: 0;

  @include respond-to(large) {
    padding: $padding-page-l;
    padding-top: 0;
  }
}

/* Font mixins. Changes here affect *all* apps */
@mixin font-family-inter() {
  font-family: Inter, sans-serif;
}

@mixin font-light() {
  @include font-family-inter;

  font-style: normal;
  font-weight: 300;
}

@mixin font-regular() {
  @include font-family-inter;

  font-style: normal;
  font-weight: 400;
}

@mixin font-regular-italic() {
  @include font-family-inter;

  font-style: italic;
  font-weight: 400;
}

@mixin font-medium() {
  @include font-family-inter;

  font-style: normal;
  font-weight: 500;
}

@mixin font-bold() {
  @include font-family-inter;

  font-style: normal;
  font-weight: 600;
}

/* Shared mixins. Bear in mind changes here impact *all* apps. */

@mixin focus() {
  box-shadow: 0 0 0 1px $blue-50 inset, 0 0 0 1px $blue-50,
    0 0 0 4px transparentize($blue-50, 0.7);
  outline: none;
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: 0.4;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in `$breakpoints` map.";
  }
}

@mixin text-align-start() {
  text-align: left;

  [dir='rtl'] & {
    text-align: right;
  }
}

@mixin text-align-end() {
  text-align: right;

  [dir='rtl'] & {
    text-align: left;
  }
}

@mixin start($pos) {
  left: $pos;
  right: auto;

  [dir='rtl'] & {
    left: auto;
    right: $pos;
  }
}

@mixin end($pos) {
  left: auto;
  right: $pos;

  [dir='rtl'] & {
    left: $pos;
    right: auto;
  }
}

@mixin margin($top, $end, $bottom, $start) {
  margin: $top $end $bottom $start;

  [dir='rtl'] & {
    margin: $top $start $bottom $end;
  }
}

@mixin margin-start($val) {
  [dir='ltr'] & {
    margin-left: $val;
  }

  [dir='rtl'] & {
    margin-right: $val;
  }
}

@mixin margin-end($val) {
  [dir='ltr'] & {
    margin-right: $val;
  }

  [dir='rtl'] & {
    margin-left: $val;
  }
}

@mixin padding-start($val) {
  [dir='ltr'] & {
    padding-left: $val;
  }

  [dir='rtl'] & {
    padding-right: $val;
  }
}

@mixin padding-end($val) {
  [dir='ltr'] & {
    padding-right: $val;
  }

  [dir='rtl'] & {
    padding-left: $val;
  }
}

@mixin addon-section() {
  background: $base-color;
  overflow: hidden;
  padding: 10px 20px;

  @include respond-to(large) {
    padding: 15px 36px;
  }
}
