@mixin font-light() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-light-italic() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-regular() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-regular-italic() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin font-medium() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin font-medium-italic() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
}

@mixin font-bold() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin font-bold-italic() {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
}
