@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";

$icon-size: 26px;

.SearchForm-form {
  background: $masthead-light-color;
  border: 0;
}

.SearchInput-input,
.SearchForm-form {
  color: $base-color;
  font-size: $font-size-m;
  white-space: nowrap;
}
