@import '~photon-colors/photon-colors';
@import '~amo/css/inc/vars';

.CollectionAddAddon {
  .ErrorList,
  .CollectionAddAddon-noticePlaceholder {
    margin: 0;
  }

  .AutoSearchInput-label {
    padding-top: 4px;
  }

  .AutoSearchInput-query {
    border: 1px solid $grey-50;
    border-radius: $border-radius-xs;
  }

  .AutoSearchInput--autocompleteIsOpen .AutoSearchInput-query {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  // The Notice component creates children which are affected by these classes,
  // which are added by the CSSTransition component.
  .Notice {
    &.CollectionAddAddon-noticePlaceholder-transition-appear {
      opacity: 1;
    }

    &.CollectionAddAddon-noticePlaceholder-transition-exit-active {
      opacity: 0;
      transition: opacity $transition-medium ease-in-out;
    }
  }
}
