@import "~photon-colors/colors";

.HomeHeroBanner {
  .HeroSection-styleName--Home-featured-extensions {
    background: $teal-70;
  }

  .HeroSection-styleName--Home-youtube-high-definition {
    background: $green-70;
  }

  .HeroSection-styleName--Home-privacy-matters {
    background: $ink-70;
  }

  .HeroSection-styleName--Home-ublock-origin {
    background: $red-70;
  }
}
