@import '~amo/css/styles';

.GuidesAddonCard {
  display: flex;
  flex-direction: column;

  .InstallWarning {
    margin: 0 auto;
  }

  .GetFirefoxButton,
  .AMInstallButton {
    @include respond-to(medium) {
      @include margin-start(auto);

      align-self: center;
    }
  }

  .Icon-trophy {
    @include margin-end(4px);
  }

  .AddonTitle {
    font-size: $font-size-m;
    font-weight: 500;
    margin-bottom: 0;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $link-color;
      }
    }
  }

  .GuidesAddonCard-content-header-title,
  .GuidesAddonCard-content-description-button {
    width: 100%;

    @include respond-to(medium) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .GuidesAddonCard-content-description-button {
    margin: 8px 0 10px;
  }

  .GuidesAddonCard-content-header-title {
    .GuidesAddonCard-content-header-authors {
      width: auto;
    }

    .AddonTitle-author {
      color: $grey-50;
      font-size: $font-size-default;
      padding-top: 0;

      a {
        color: $link-color;
        font-size: inherit;
        text-decoration: underline;
      }
    }

    .RecommendedBadge {
      margin-top: 8px;

      @include respond-to(medium) {
        @include margin-start(8px);

        margin-top: 2px;
      }
    }
  }

  .GuidesAddonCard-content-header-title--loading {
    @include respond-to(medium) {
      display: inline-block;

      // stylelint-disable max-nesting-depth
      .GuidesAddonCard-content-header-authors {
        width: 70%;
      }
    }
  }

  .Notice-error {
    margin-bottom: 12px;
  }
}

.GuidesAddonCard-content-text {
  width: 100%;
}

.GuidesAddonCard-content {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(medium) {
    flex-wrap: nowrap;
  }

  .InstallButtonWrapper--notFirefox {
    width: 100%;

    @include respond-to(medium) {
      flex: 0 0 180px;
    }

    .GetFirefoxButton {
      padding: 0 12px;
    }
  }

  .GetFirefoxButton {
    font-size: $font-size-default;
    text-align: center;
    white-space: normal;
  }
}

.GuidesAddonCard-content-icon {
  height: 40px;
  margin-bottom: 12px;
  width: 40px;
}

.GuidesAddonCard-content-header {
  @include respond-to(medium) {
    display: flex;
  }
}

.GuidesAddonCard-content-header-title {
  @include respond-to(medium) {
    @include margin-start(16px);
  }
}

.GuidesAddonCard-content-description {
  color: $grey-60;
  display: flex;
  font-size: $font-size-default;
  line-height: 1.4;

  @include respond-to(medium) {
    margin: 0 16px;
  }
}
