@import '~amo/css/styles';

.GuidesAddonCard {
  display: flex;
  flex-direction: column;

  .GetFirefoxButton,
  .AMInstallButton {
    @include respond-to(medium) {
      @include margin-start(auto);

      align-self: center;
    }
  }

  .Icon-trophy {
    @include margin-end(4px);
  }

  .AddonTitle {
    font-size: $font-size-m;
    font-weight: 500;
    margin-bottom: 0;
  }

  .GuidesAddonCard-content-header-title {
    .AddonTitle-author {
      color: $grey-50;
      font-size: $font-size-default;
      padding-top: 0;

      a {
        color: $blue-50;
        font-size: inherit;
        text-decoration: underline;
      }
    }
  }

  .Notice-error {
    margin-bottom: 12px;
  }
}

.GuidesAddonCard-content {
  display: flex;
  flex-wrap: wrap;

  @include respond-to(medium) {
    flex-wrap: nowrap;
  }

  .GetFirefoxButton {
    font-size: $font-size-default;
    text-align: center;
    white-space: normal;

    @include respond-to(medium) {
      flex: 0 0 180px;
    }
  }
}

.GuidesAddonCard-content-icon {
  height: 40px;
  margin-bottom: 12px;
  width: 40px;
}

.GuidesAddonCard-content-header {
  @include respond-to(medium) {
    display: flex;
  }
}

.GuidesAddonCard-content-header-title {
  display: flex;
  flex-direction: column;

  @include respond-to(medium) {
    margin: 0 16px;
  }
}

.GuidesAddonCard-content-header-staff-pick {
  color: $grey-50;
  font-size: $font-size-micro;
  font-weight: 500;
  margin-top: 8px;
  text-transform: uppercase;
  white-space: nowrap;

  @include respond-to(medium) {
    margin-top: 2px;
  }
}

.GuidesAddonCard-content-description {
  color: $grey-60;
  display: flex;
  font-size: $font-size-default;
  line-height: 1.4;

  @include respond-to(medium) {
    margin: 8px 16px;
  }
}
