.CentredInput {
  position: relative;
  text-align: center;
  width: 100%;
}

.CentredInput-label {
  display: inline-block;
  position: relative;

  .CentredInput--centre-text & {
    display: none;
  }
}

.CentredInput-input {
  background: transparent;
  border: none;
  box-sizing: border-box;
  left: 0;
  outline: none;
  position: absolute;
  text-align: center;
  width: 100%;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    text-align: left;
  }

  .CentredInput--centre-text & {
    text-align:center;
  }
}
