@import '~amo/css/inc/vars';
@import '~core/css/inc/mixins';

.CategoriesPage {
  @include page-padding();

  .Categories-item {
    display: block;
  }

  .Categories-loading-text {
    display: block;
    margin: 0 0 5px;
  }
}
