@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";

.CategoriesPage {
  margin: $padding-page;

  .Categories-item {
    display: block;
  }

  .Categories-loading-text {
    display: block;
    margin: 0 0 5px;
  }

  @include respond-to(large) {
    margin: $padding-page-l;
  }
}
