@import '~amo/css/inc/vars';
@import '~core/css/inc/mixins';

.CategoriesPage {
  margin: $padding-page;
  margin-top: 0;

  @include respond-to(large) {
    margin: $padding-page-l;
    margin-top: 0;
  }

  .Categories-item {
    display: block;
  }

  .Categories-loading-text {
    display: block;
    margin: 0 0 5px;
  }
}
