@import "~core/css/inc/mixins";
@import "~ui/components/Icon/vars";

$input-height: 48px;
$icon-margin-start: 24px;
$icon-margin-end: 12px;

.SearchInput {
  position: relative;
  text-align: center;
  width: 100%;

  .Icon-magnifying-glass {
    @include margin(
      ($input-height - $default-icon-size) / 2,
      $icon-margin-end,
      ($input-height - $default-icon-size) / 2,
      $icon-margin-start);

    vertical-align: top;
  }
}

.SearchInput-animation-icon {
  @include start(0);

  opacity: 0;
  position: absolute;
  transition: transform 250ms;

  .SearchInput--text &,
  .SearchInput--animating & {
    opacity: 1;
  }

  .SearchInput--text & {
    // Use !important to overwrite style properties added in JS.
    transform: translateX(0) !important;
  }
}

.SearchInput-label {
  @include font-regular();
  // Include the start margin on the end so that icon and text is centred together.
  @include padding-end($icon-margin-start);

  display: inline-block;
  height: $input-height;
  line-height: $input-height;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;

  .SearchInput--text & {
    color: transparent;
  }
}

.SearchInput-label-icon {
  .SearchInput--text &,
  .SearchInput--animating & {
    opacity: 0;
  }
}

.SearchInput-input {
  @include font-regular();
  @include start(0);

  background: transparent;
  border: none;
  height: $input-height;
  outline: none;
  padding: 0 ($default-icon-size + $icon-margin-start + $icon-margin-end);
  position: absolute;
  top: 0;
  width: 100%;

  .SearchInput--animating & {
    color: transparent;
  }

  &::placeholder {
    color: transparent;
  }
}
