@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('Inter Light'), url('woff2/Inter-Light.woff2') format('woff2'),
    url('otf/Inter-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: local('Inter Light Italic'),
    url('woff2/Inter-LightItalic.woff2') format('woff2'),
    url('otf/Inter-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter Regular'), url('woff2/Inter-Regular.woff2') format('woff2'),
    url('otf/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: local('Inter Regular Italic'),
    url('woff2/Inter-Italic.woff2') format('woff2'),
    url('otf/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), url('woff2/Inter-Medium.woff2') format('woff2'),
    url('otf/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: local('Inter Medium Italic'),
    url('woff2/Inter-MediumItalic.woff2') format('woff2'),
    url('otf/Inter-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: local('Inter Bold'), url('woff2/Inter-Bold.woff2') format('woff2'),
    url('otf/Inter-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: local('Inter Bold Italic'),
    url('woff2/Inter-BoldItalic.woff2') format('woff2'),
    url('otf/Inter-BoldItalic.otf') format('opentype');
}

/* -------------------------------------------------------
Variable font.
Usage:

  font-family: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: 'Inter Var', sans-serif;
  }
*/
@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  src: url('woff2/Inter-roman.var.woff2') format('woff2');
}

/* Minimal font file with limited glyphs and layout features (only kern).
   Should be enough for most pages in en, de, fr, ru, es, pt, pl & it locales.
   This was generated by looking at unicode ranges needed to display most of
   pages with glyphhanger and manual tweaks to add several characters that are
   likely to appear in those languages.

   Note that serverHtml component has a regexp to preload that font.

   The corresponding command to generate the font is:
   pyftsubset Inter-roman.var.woff2
    --output-file=Inter-roman-subset-mainlocales.var.woff2
    --flavor=woff2
    --layout-features=kern
    --no-hinting
    --unicodes=<unicode range>
*/
@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  src: url('woff2/Inter-roman-subset-mainlocales.var.woff2') format('woff2');
  unicode-range: U+20-7E, U+A0-A1, U+A3, U+A7, U+A9, U+AB, U+AE, U+B0-B5, U+BB,
    U+BF-C4, U+C6-CF, U+D1-D7, U+D9-DC, U+DF-E4, U+E6-EF, U+F1-F7, U+F9-FC, U+FF,
    U+104-107, U+118-119, U+141-144, U+152-153, U+15A-15B, U+178-17C, U+401,
    U+410-44F, U+451, U+2010-2014, U+2018-201A, U+201C-201E, U+2026, U+202F,
    U+2032-2033, U+2080, U+20AC, U+2122;
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  src: url('woff2/Inter-italic.var.woff2') format('woff2');
}
