@import '~amo/css/styles';

.PermissionsCard-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.PermissionsCard-learn-more {
  .Icon {
    @include margin-start(5px);
  }
}

.PermissionsCard-subhead--optional,
.PermissionsCard-subhead--required {
  color: $grey-50;
  margin: 24px 0 0 0;

  &:first-child {
    margin-top: 0;
  }
}

.PermissionsCard-list--optional,
.PermissionsCard-list--required {
  list-style: "✓";
  margin: 4px 4px 4px 12px;
  padding: 0;

  li {
    margin: 4px 0 0 0;
    padding-left: 8px;
  }
}
