@import '~amo/css/styles';

.PermissionCard-learn-more {
  margin: 14px auto 0;
  width: 100%;

  .Icon {
    @include margin-start(12px);
  }
}

.PermissionsCard-subhead {
  color: $grey-50;
  margin: 0;
}

.PermissionsCard-list {
  list-style: none;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    margin-top: 16px;
    vertical-align: middle;

    .Icon {
      @include margin-end(12px);

      height: 24px;
      min-width: 24px;
    }
  }
}
