@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.SectionLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 4px;
}

.SectionLinks-item {
  display: inline-block;
}

.SectionLinks-link,
.SectionLinks-link:link {
  color: $grey-40;
  font-weight: 400;
  margin: 0 12px;
  padding: 0 0 2px;
  text-decoration: none;
  transition-duration: $transition-short;
  transition-property: border color;

  &:focus,
  &:hover {
    border-bottom: 3px solid $grey-40;
  }

  &:active {
    border-bottom: 3px solid $white;
  }
}

.SectionLinks-link--active,
.SectionLinks-link--active:link {
  color: $white;

  &,
  &:active,
  &:focus,
  &:hover {
    border-bottom: 3px solid $white;
  }
}

.SectionLinks-explore {
  display: none;

  @include respond-to(large) {
    display: inline-block;
  }
}

.SectionLinks-dropdown {
  padding: 0;
  white-space: nowrap;

  &,
  &:active,
  &:focus,
  &:hover {
    border-bottom: 0;
  }

  .DropdownMenu-button {
    display: block;
    margin-top: 2px;
    padding: 0 0 2px;
  }

  .DropdownMenu-button-text {
    color: $grey-40;
    font-size: $font-size-m-smaller;
  }

  .DropdownMenu-items {
    top: 22px;
  }
}
