@import "~core/css/inc/mixins";

$addon-icon-margin-end: 12px;

.SearchSuggestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.SearchSuggestion-name {
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SearchSuggestion-icon {
  @include margin-end($addon-icon-margin-end);

  height: 16px;
  width: 16px;
}
