@mixin animated-icon($name, $steps, $svgWidth, $width) {
  @keyframes #{$name} {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-($svgWidth - $width));
    }
  }

  animation-duration: 1.05s;
  animation-iteration-count: infinite;
  animation-name: $name;
  animation-timing-function: steps($steps);
  background-image: url('./img/#{$name}.svg');
  display: block;
  height: 100%;
  width: $svgWidth;

  [dir='rtl'] & {
    @keyframes #{$name}-rtl {
      from {
        transform: scaleX(-1) translateX(0);
      }

      to {
        transform: scaleX(-1) translateX(-($svgWidth - $width));
      }
    }

    animation-name: '#{$name}-rtl';
  }
}

.AnimatedIcon-loading {
  $width: 16px;

  display: inline-block;
  height: 4px;
  overflow-x: hidden;
  width: $width;

  .Icon-loading {
    @include animated-icon(
      $name: 'loading',
      $steps: 60,
      $svgWidth: 992px,
      $width: $width
    );
  }

  [dir='rtl'] & {
    // For some reasons, there is a small horizontal offset in RTL mode.
    margin-left: -1px;
  }
}
