.Rating {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

$star-size: 46px;
$star-gutter: 10px;

.Rating-choice {
  background: url('./img/dim-star.svg') center/$star-size no-repeat;
  height: $star-size + $star-gutter;
  width: $star-size + $star-gutter;
}

.Rating--editable {
  .Rating-choice {
    background-image: url('./img/outlined-star.svg');
    cursor: pointer;
  }

  // The following rules make the ranges of stars appear selected when
  // you hover over them. For example, when you hover over the third star,
  // only the first three stars appear selected.

  // First, make all stars appear selected when you hover over the group.
  .Rating-star-group:hover .Rating-choice,
  // For keyboard navigation, make the focused star appear selected.
  .Rating-choice:focus {
    background-image: url('./img/yellow-star.svg');
  }

  // Second, de-select all stars to the right of the cursor.
  .Rating-choice:hover ~ .Rating-choice {
    background-image: url('./img/outlined-star.svg');
  }
}

.Rating-selected-star,
.Rating--editable .Rating-selected-star {
  background-image: url('./img/yellow-star.svg');
}

.Rating--small {
  $star-size: 13px;
  $star-gutter: 4px;

  .Rating-star-group {
    display: flex;
    min-width: $star-size * 5 + $star-gutter * 4;
  }

  .Rating-choice {
    margin: 0;
    background-size: $star-size;
    height: $star-size + $star-gutter;
    width: $star-size + $star-gutter;
  }
}
