@import "./vars";

.Rating,
.Rating-star-group {
  display: flex;
}

.Rating {
  justify-content: center;
  margin: $rating-top-margin 0;
}

.Rating-choice {
  background: url('./img/dim-star.svg') center/$rating-l-star-size no-repeat;
  height: $rating-l-star-size + $rating-l-star-gutter;
  width: $rating-l-star-size + $rating-l-star-gutter;
}

.Rating--editable {
  .Rating-choice {
    background-image: url('./img/outlined-star.svg');
    cursor: pointer;
  }

  // The following rules make the ranges of stars appear selected when
  // you hover over them. For example, when you hover over the third star,
  // only the first three stars appear selected.

  // First, make all stars appear selected when you hover over the group.
  .Rating-star-group:hover .Rating-choice,
  // For keyboard navigation, make the focused star appear selected.
  .Rating-choice:focus {
    background-image: url('./img/yellow-star.svg');
  }

  // Second, de-select all stars to the right of the cursor.
  .Rating-choice:hover ~ .Rating-choice {
    background-image: url('./img/outlined-star.svg');
  }
}

.Rating-selected-star,
.Rating--editable .Rating-selected-star {
  background-image: url('./img/yellow-star.svg');
}

.Rating--small .Rating-choice {
  margin: 0;
  background-size: $rating-s-star-size;
  height: $rating-s-star-size + $rating-s-star-gutter;
  width: $rating-s-star-size + $rating-s-star-gutter;
}
