@import "~amo/css/inc/vars";

.AddonsCard-list {
  margin: 0;
  padding: 0;
}

.AddonsCard {
  .Card-contents {
    background: none;
    padding: 0;
  }

  .SearchResult {
    background: transparentize($base-color, 0.25);
    padding: 0 $padding-page;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
