apipkg==1.5
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
execnet==1.7.1
FoxPuppet==1.0.3
funcsigs==1.0.2
idna==2.8
importlib-metadata==1.5.0
more-itertools==8.2.0
pathlib2==2.3.5
packaging==20.1 
pluggy==0.13.0
py==1.8.1
PyPOM==2.2.0
pytest==5.3.5
pytest-base-url==1.4.1
pytest-firefox==0.1.1
pytest-forked==1.1.3
pytest-html==2.0.0
pytest-metadata==1.8.0
pytest-repeat==0.8.0
pytest-selenium==1.17.0
pytest-variables==1.9.0
pytest-xdist==1.30.0
atomicwrites==1.3.0
requests==2.22.0
scandir==1.10.0
selenium==3.141.0
six==1.14.0
urllib3==1.25.8
zipp==2.1.0
zope.component==4.5
zope.deferredimport==4.3.1
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.proxy==4.3.2
