@import '~core/css/inc/vars';
@import '~core/css/inc/mixins';
@import '~amo/css/inc/vars';
@import '~photon-colors/photon-colors';

.StaticPage {
  margin: $padding-page;
  margin-top: 0;

  @include respond-to(large) {
    margin: $padding-page-l;
    margin-top: 0;
  }

  .Card-contents li,
  .Card-contents p {
    font-size: $font-size-default;
  }

  h1,
  h2 {
    color: $grey-90;
  }

  h1 {
    font-size: $font-size-m;
  }

  h2,
  h3 {
    font-size: $font-size-default;
  }

  h3 {
    color: $grey-60;
  }
}

.StaticPageWrapper {
  max-width: 960px;
}
