@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.AddonBadges {
  width: 100%;

  @include respond-to(large) {
    grid-column: 1;
    grid-row: 3;
  }
}

.AddonBadges .Badge {
  @include text-align-start();

  @include respond-to(large) {
    @include text-align-start();
  }
}
