@import '~amo/css/styles';

.AddonReviewCard {
  .Rating {
    height: $default-line-height;
  }

  .UserReview-byLine {
    flex-wrap: wrap;
  }
}

.AddonReviewCard-authorByLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.AddonReviewCard-allControls {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;

  a:link,
  a:visited,
  a:hover,
  a:active {
    &:not(.Button) {
      color: $blue-50;
      font-weight: normal;
      text-decoration: none;
    }
  }
}

.AddonReviewCard-delete {
  .ConfirmButton-cancel-button,
  .ConfirmButton-confirm-button,
  .ConfirmButton-default-button {
    font-size: $font-size-s;
  }

  .ConfirmButton-default-button {
    align-items: flex-start;
    border: 0;
    color: $blue-50;
    height: auto;
    padding: 0;
  }

  .ConfirmButton-buttons {
    flex-flow: row-reverse;
  }
}

.AddonReviewCard-control {
  @include margin-start(6px);

  @include respond-to(medium) {
    @include margin-start(24px);
  }

  .Icon-reply-arrow {
    @include margin-end(6px);
  }
}

.AddonReviewCard-reply {
  background-color: transparentize($blue-50, 0.95);
  border-radius: $border-radius-default;
  margin-top: 12px;
  padding: 12px;

  @include respond-to(medium) {
    margin-top: 24px;
    padding: 24px;

    @include margin-start(12px);
  }
}

.AddonReviewCard-reply-header {
  margin: 0 0 6px;

  .Icon-reply-arrow {
    @include margin-end(12px);
  }
}
