@import '~amo/css/styles';

.CategoryHeader {
  border-radius: $border-radius-default;
  margin-bottom: $padding-page;
  width: 100%;

  @include respond-to(large) {
    margin-bottom: 30px;
  }
}

.CategoryHeader-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px;
}

.CategoryHeader-contents {
  flex: 2;

  .CategoryHeader--loading & {
    width: 50%;
  }
}

.CategoryHeader-name {
  @include font-regular();
  @include text-align-end();

  font-size: $font-size-l;
  margin: 10px 0;

  @include respond-to(medium) {
    @include font-medium();
    @include text-align-start();

    font-size: $font-size-xl;
  }
}

.CategoryHeader-icon {
  display: block;
  flex: 1;

  @include respond-to(medium) {
    @include text-align-end();

    .Icon {
      @include margin-end(24px);
    }
  }
}
