@import '~amo/css/styles';

$title-font-size: 20px;

.CategoryHeader {
  border-radius: $border-radius-default;
  margin-bottom: $padding-page;
  width: 100%;
}

.CategoryHeader-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 12px 0;

  @include respond-to(medium) {
    margin: 24px 0;
  }
}

.CategoryHeader-name {
  @include font-regular();

  font-size: $title-font-size;

  .CategoryHeader--loading & {
    width: 100%;
  }

  @include respond-to(medium) {
    @include font-medium();

    font-size: $font-size-xl;
  }
}

.CategoryHeader-icon {
  @include margin-end(8px);

  @include respond-to(medium) {
    @include margin-end(24px);
  }
}
