@import '~core/css/inc/mixins';

.RatingManager-ratingControl {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.RatingManager-cancelTextEntryButton {
  text-align: center;
  width: 100%;
}

.RatingManager-log-in-to-rate-button {
  font-size: $font-size-s;
  padding: 0;
  position: absolute;
  width: 100%;
}

.RatingManager {
  fieldset {
    // Prevent content overflow.
    min-width: 0;
  }

  legend {
    word-wrap: break-word;
  }

  .Rating {
    margin: 12px;
  }
}
