@import '~core/css/inc/vars';
@import '~ui/components/Rating/vars';

$button-margin: 13px;
$button-height: $rating-l-star-size + $rating-l-star-gutter -
  ($button-margin * 2);

.RatingManager-log-in-to-rate {
  position: relative;
}

.RatingManager-log-in-to-rate-button {
  align-items: center;
  display: flex;
  font-size: $font-size-s;
  height: $button-height;
  justify-content: center;
  margin-top: $rating-top-margin + $button-margin;
  padding: 0;
  position: absolute;
  width: 100%;
}

.RatingManager {
  fieldset {
    // Prevent content overflow.
    min-width: 0;
  }

  legend {
    word-wrap: break-word;
  }
}
