@import '~amo/css/styles';
$icon-large: 64px;
$icon-medium: 19px;
$icon-small: 13px;

.Rating--large {
  .IconStar {
    max-height: $icon-large;
    max-width: $icon-large;
    width: 100%;

    @media (orientation: portrait) {
      padding: 0 6px;
    }

    @include respond-to(medium) {
      padding: 0;

      @media (orientation: landscape) {
        padding: 0 6px;
      }
    }

    @include respond-to(large) {
      padding: 0;
    }
  }
}

.Rating--small {
  &.Rating--editable {
    .IconStar {
      width: $icon-medium;

      @include respond-to(large) {
        width: $icon-small;
      }
    }
  }

  .IconStar {
    height: $icon-medium;
    width: $icon-small;
  }
}
