.Categories-list {
  margin: 0 2.5%;
  padding: 0;
}

.Categories-list-item {
  background: url('~amo/img/icons/arrow.svg') 100% 50% no-repeat;
  border-bottom: 2px solid #000;
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.Categories-link {
  color: #000;
  display: block;
  padding: 1em 0;
  text-decoration: none;
}
