@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.Categories-loadingText {
  @include margin-end(5px);
}

.Categories-list {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.Categories-item {
  @include margin-end(7px);

  display: inline-block;
  margin: 0 0 7px;
  padding: 0;
}

.Categories-link,
.Categories-link:link,
.Categories-link:visited,
.Categories-link:hover,
.Categories-link:active {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: $font-size-s;
  font-weight: normal;
  padding: 10px 12px 8px;
  text-decoration: none;
}

@for $i from 1 through 12 {
  .Categories--category-color-#{$i} {
    background: nth($category-colors, $i);

    &:focus,
    &:hover {
      background: darken(nth($category-colors, $i), 20);
    }
  }
}
