@import '~amo/css/styles';

.AddonReviewList {
  @include page-padding();

  @include respond-to(large) {
    display: flex;
  }

  .Card {
    margin-bottom: $padding-page;

    @include respond-to(large) {
      margin-bottom: $padding-page-l;
    }
  }

  .CardList {
    margin: 0 0 8px;
    // https://stackoverflow.com/questions/36150458
    min-width: 50%;
  }

  .Notice-generic {
    margin-bottom: 12px;
  }
}

.AddonReviewList-reviews {
  @include respond-to(large) {
    @include margin-start($padding-page-l);

    width: 65%;
  }
}

.AddonReviewList-noReviews {
  padding: 48px 0;
  text-align: center;
}
