
.RatingManager-choices {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

$star-size: 46px;

.RatingManager-choice {
  background: url('./img/big-star.svg') center/$star-size no-repeat;
  height: $star-size + 10px;
  width: $star-size + 10px;
}

.RatingManager-selected-star {
  background-image: url('./img/big-star-selected.svg');
}

.RatingManager--editable {
  .RatingManager-choice {
    cursor: pointer;
  }

  // The following rules make the ranges of stars appear selected when
  // you hover over them. For example, when you hover over the third star,
  // only the first three stars appear selected.

  // First, make all stars appear selected when you hover over the group.
  .RatingManager-star-group:hover .RatingManager-choice,
  // For keyboard navigation, make the focused star appear selected.
  .RatingManager-choice:focus {
    background-image: url('./img/big-star-selected.svg');
  }

  // Second, de-select all stars to the right of the cursor.
  .RatingManager-choice:hover ~ .RatingManager-choice {
    background-image: url('./img/big-star.svg');
  }
}
