@import '~disco/css/styles';

.DiscoPane-header {
  margin: 0 0 20px;
  padding: 20px 0 0;

  h1 {
    color: $primary-font-color;
    display: block;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 0 20px;
  }

  @include respond-to(large) {
    background: inherit;
    border-bottom: 1px solid $header-border-color;
    margin: 0 0 40px;
    padding: 0 0 40px;

    h1 {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.DiscoPane-notice-recommendations {
  font-size: 13px;

  .Notice-content {
    display: flex;

    .Notice-button.Button {
      @include margin-end(8px);

      margin: auto;
      width: 200px;
    }
  }
}

.DiscoPane-header-intro {
  color: $header-copy-font-color;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;

  &:last-child {
    display: block;
    margin-bottom: 0;
  }
}

.DiscoPane-amo-link {
  margin: 30px 0;
  text-align: center;
}
