@import '~amo/css/styles';
@import '~amo/components/Button/styles';

.Notice {
  border-radius: $border-radius-s;
  display: grid;
  font-size: $font-size-s;
  grid-gap: 4px;
  grid-template-columns: min-content auto;
  padding: 4px;

  &.Notice-light {
    background-color: transparent;
    display: flex;
    justify-content: center;
    line-height: $default-line-height;
    padding: 0;
  }

  &.Notice-dismissible {
    grid-template-columns: min-content auto min-content;
  }
}

.Notice-icon {
  background-position: center top;
  background-repeat: no-repeat;
}

.Notice-column {
  align-items: center;
  display: flex;
}

.Notice-dismisser {
  align-items: top;
  display: flex;
  justify-content: flex-end;
}

.Notice-icon,
.Notice-dismisser-button {
  height: 16px;
  margin: 7px;
  width: 16px;
}

.Notice-light .Notice-icon {
  // Reduce the icon size for light notices so that the total
  // height of the notice adds up to $default-line-height.

  background-size: 11px 11px;
  height: 11px;
  width: 11px;
}

.Notice-dismisser-button {
  cursor: pointer;
  padding: 0;
}

.Notice-text {
  display: inline-block;
  margin: 0;
  padding: 4px 0;
  word-break: break-word;

  .Notice-light & {
    padding: 0;
  }

  // The spec calls for additional spacing
  // in front of the action button. This is
  // applied even without a button to strike
  // a balance with the icon spacing.
  @include padding-end(8px);
}

@mixin notice_button() {
  &,
  &.Button--micro,
  &.Button--micro:link {
    border: none;
    font-size: $font-size-s;
    line-height: 1.1;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 6px;
    text-shadow: none;
    width: max-content;

    &:active:not(.Button--disabled) {
      // The default styles add padding-top: 1px so this keeps it in
      // sync with the custom padding added above.

      padding-top: 7px;
    }
  }
}

@mixin notice_type(
  $button-background-color,
  $button-background-active-color,
  $button-background-hover-color,
  $button-color,
  $icon-name,
  $iconXMark-path-color,
  $notice-background-color,
  $notice-link-color,
  $button-link-color: inherit
) {
  .Notice-button {
    @include button(
      $background: $button-background-color,
      $background-active: $button-background-active-color,
      $background-hover: $button-background-hover-color,
      $color: $button-color
    );

    &:active,
    &:hover,
    &:focus {
      color: $button-link-color;
    }

    @include notice_button();
  }

  .Notice-icon {
    background-image: url('./img/#{$icon-name}.svg');
  }

  .IconXMark-path {
    fill: $iconXMark-path-color;
  }

  background-color: $notice-background-color;
  color: $notice-link-color;
}

.Notice-error {
  @include notice_type(
    $button-background-color: $red-60,
    $button-background-active-color: $red-80,
    $button-background-hover-color: $red-70,
    $button-color: $white,
    $icon-name: 'exclamation',
    $iconXMark-path-color: $white,
    $notice-background-color: $red-50,
    $notice-link-color: $white
  );
}

.Notice-generic,
.Notice-genericWarning {
  @include notice_type(
    $button-background-color: $grey-90-a10,
    $button-background-active-color: $grey-90-a30,
    $button-background-hover-color: $grey-90-a20,
    $button-color: $grey-90,
    $icon-name: 'generic-info-mark',
    $iconXMark-path-color: $grey-90,
    $notice-background-color: $grey-20,
    $notice-link-color: $grey-90
  );

  &.Notice-againstGrey20 {
    // When this Notice is rendered against a $grey-20 background, pick a
    // new background color to avoid a collision.

    background-color: $grey-30;
  }

  .Button:hover {
    color: $grey-90;
  }
}

.Notice-success,
.Notice-firefox {
  @include notice_type(
    $button-background-color: $green-60,
    $button-background-active-color: $green-80,
    $button-background-hover-color: $green-70,
    $button-color: $green-90,
    $button-link-color: $white,
    $icon-name: 'check-mark',
    $iconXMark-path-color: $green-90,
    $notice-background-color: $green-50,
    $notice-link-color: $grey-90
  );
}

.Notice-warning,
.Notice-warningInfo {
  @include notice_type(
    $button-background-color: $yellow-60,
    $button-background-active-color: $yellow-80,
    $button-background-hover-color: $yellow-70,
    $button-color: $yellow-90,
    $button-link-color: $white,
    $icon-name: 'warning',
    $iconXMark-path-color: $yellow-90,
    $notice-background-color: $yellow-50,
    $notice-link-color: $grey-90
  );

  .Notice-icon {
    background-size: cover;
  }
}

.Notice-firefox .Notice-icon {
  background-image: url('./img/firefox.svg');
}

.Notice-warningInfo .Notice-icon {
  background-image: url('./img/generic-info-mark.svg');
}

.Notice-genericWarning .Notice-icon {
  background-image: url('./img/warning.svg');
  background-size: cover;
}
