// Add-on details
$primary-font-color: #000;
$body-font-color: #1d1d1d;
$header-font-color: #fff;

// Colours
$text-color-default: #333;
$text-color-headings: $text-color-default;
$text-color-message: #fff;
$sub-text-color: #6a6a6a;
$form-border-color: $primary-font-color;
$error-text-color: $text-color-message;
$error-background-color: #f00;

$button-background-color: #0095dd;

$base-color: #fff;
$link-color: #0568ba;

$warning: #d63920;

$focus-outline-color: #0096dc;

// Fonts
$default-font-family: "Clear Sans", Helvetica, Arial, sans-serif;

// Font-Size Variables
$font-size-default: 14px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 28px;
$font-size-xl: 36px;
$font-size-xxl: 42px;

// Animation Variables
$transition-short: 150ms;
$transition-medium: $transition-short * 3;
$transition-long: $transition-short * 7;

// Border-Radius Variables
$border-radius-default: 9px;
$border-radius-s: 4px;
$border-radius-m: 8px;

// Page padding (this is the padding for an entire page that isn't full-width,
// like the AddonsDetail page)
$padding-page: 10px;
