// Add-on details
$primary-font-color: #000;
$body-font-color: #1d1d1d;
$header-font-color: #fff;
// $header-background: #1f386e;

// Colours
$text-color-default: #333;
$text-color-headings: $text-color-default;
$text-color-message: #fff;

// This is the color used for the MastHead background and the basis of the
// SearchForm and Footer background colors.
$base-background-color: #1e1e1e;
$body-and-accent-color: #ffb200;

$button-background-color: #0095dd;
$button-background-disabled-color: #8a9ba8;
$button-background-hover-color: #08c;

$background-accent-color: #fff;

$warning: #d63920;

$focus-outline-color: #0096dc;

// Fonts
$default-font-family: "Clear Sans", Helvetica, Arial, sans-serif;

// Font-Size Variables
$font-size-default: 14px;
$font-size-s: 12px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 36px;
$font-size-xxl: 42px;

// Animation Variables
$transition-short: 150ms;
$transition-medium: $transition-short * 3;
$transition-long: $transition-short * 7;

// Border-Radius Variables
$border-radius-s: 4px;
