// Add-on details
$primary-font-color: #000;
$body-font-color: #1d1d1d;
$header-font-color: #fff;

// Colours
$text-color-default: #333;
$text-color-headings: $text-color-default;
$text-color-message: #fff;
$sub-text-color: #6a6a6a;
$form-border-color: $primary-font-color;
$button-background-color: #0095dd;
$base-color: #fff;
$link-color: #0568ba;
$warning: #d63920;

// Fonts
$default-font-family: 'Clear Sans', Helvetica, Arial, sans-serif;

// Font-Size Variables
$default-line-height: 19px;
$font-size-default: 14px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 28px;
$font-size-xl: 36px;
$font-size-xxl: 42px;
$font-size-form-header: 24px;
$font-size-puffy-buttons: 15px;

// Animation Variables
$transition-short: 150ms;
$transition-medium: $transition-short * 3;
$transition-long: $transition-short * 7;

// Border-Radius Variables
$border-radius-default: 9px;
$border-radius-xs: 2px;
$border-radius-s: 4px;
$border-radius-m: 8px;

// Page padding (this is the padding for an entire page that isn't full-width,
// like the AddonsDetail page)
$padding-page: 10px;
$padding-page-l: 24px;

// Restrict the max-width of modals.
$max-modal-width: 768px;

// Theme image dimensions
$theme-height-default: 92px;
$theme-width-default: 680px;

// Lightweight images are slightly different
$theme-height-legacy: 100px;

// No "small" breakpoint is defined here because we are mobile-first.
// Instead of adding a rule for only mobile, add a mobile rule and override
// it with `@include respond-to(medium) { [...] }`.
$breakpoints: (
  mediumOnly: only screen and
    (
      min-width: 500px,
    )
    and
    (
      max-width: 719px,
    ),
  medium: only screen and
    (
      min-width: 500px,
    ),
  large: only screen and
    (
      min-width: 720px,
    ),
  extraLarge: only screen and
    (
      min-width: 900px,
    ),
  extraExtraLarge: only screen and
    (
      min-width: 1150px,
    ),
);
