.SimulateClientError {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 0 24px;

  .Button {
    margin: 10px;
  }

  div {
    flex: 1;
  }
}
