.AddAddonToCollection-control {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1.5fr 0.5fr;
}

.AddAddonToCollection-prompt {
  margin: 0;
  margin-bottom: 12px;
}

.AddAddonToCollection-select {
  width: 100%;
}
