@import '~photon-colors/photon-colors';
@import '~core/css/inc/vars';
@import '~core/css/inc/mixins';
@import '~amo/css/inc/vars';

.AddonReviewListItem {
  .Rating {
    align-self: start;
    height: $default-line-height;
  }

  .UserReview-byLine {
    display: grid;
    grid-template-columns: repeat(2, auto);

    @include respond-to(medium) {
      grid-template-columns: repeat(3, auto);
      justify-content: start;
    }
  }
}

.AddonReviewListItem-control {
  display: flex;
  width: max-content;

  @include margin-start(12px);

  @include respond-to(medium) {
    @include margin-start(24px);
  }

  .Icon-reply-arrow {
    @include margin-end(6px);
  }
}

.AddonReviewListItem-author {
  // Make sure AddonReviewListItem-control elements don't squeeze this out.
  min-width: 5vw;
}

.AddonReviewListItem-allControls {
  display: flex;
  // Push all controls down to a new row on small screens.
  grid-column-end: span 2;
  grid-column-start: 1;
  justify-content: end;
  margin-top: 6px;

  @include respond-to(medium) {
    grid-column-end: auto;
    grid-column-start: auto;
    margin-top: 0;
  }
}

.AddonReviewListItem-reply {
  background-color: transparentize($blue-50, 0.95);
  border-radius: $border-radius-default;
  margin-top: 12px;
  padding: 12px;

  @include respond-to(medium) {
    margin-top: 24px;
    padding: 24px;

    @include margin-start(12px);
  }
}

.AddonReviewListItem-reply-header {
  margin: 0 0 6px;

  .Icon-reply-arrow {
    @include margin-end(12px);
  }
}
