@import "~amo/css/inc/vars";

.AddonReviewListItem {
  word-wrap: break-word;

  > h3 {
    margin: 0;
    padding: 0;
  }

  > p {
    font-size: $font-size-default;
    margin: 0 0 5px;
  }

  .Rating {
    margin: 0 5px 0 0;
  }
}

.AddonReviewListItem-by-line {
  color: $sub-text-color;
  display: flex;
  font-size: $font-size-s;
}

.AddonReviewListItem-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $link-color;
    font-weight: normal;
    text-decoration: none;
  }
}
