@import '~photon-colors/photon-colors';
@import '~core/css/inc/vars';
@import '~core/css/inc/mixins';
@import '~amo/css/inc/vars';

.AddonReviewListItem {
  .Rating {
    align-self: start;
    height: $default-line-height;
  }

  .UserReview-byLine {
    flex-wrap: wrap;
  }
}

.AddonReviewListItem-allControls {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  width: 100%;

  @include respond-to(extraExtraLarge) {
    justify-content: flex-start;
    margin-top: 0;
    width: auto;
  }
}

.AddonReviewListItem-control {
  @include margin-start(6px);

  @include respond-to(medium) {
    @include margin-start(24px);
  }

  .Icon-reply-arrow {
    @include margin-end(6px);
  }
}

.AddonReviewListItem-reply {
  background-color: transparentize($blue-50, 0.95);
  border-radius: $border-radius-default;
  margin-top: 12px;
  padding: 12px;

  @include respond-to(medium) {
    margin-top: 24px;
    padding: 24px;

    @include margin-start(12px);
  }
}

.AddonReviewListItem-reply-header {
  margin: 0 0 6px;

  .Icon-reply-arrow {
    @include margin-end(12px);
  }
}
