@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

$picture-size: 128px;

.UserProfileEditPicture {
  .UserAvatar {
    @include margin-end(24px);

    display: inline-block;
    width: $picture-size;

    .Icon {
      height: $picture-size;
      width: $picture-size;
    }
  }

  .UserProfileEditPicture-file {
    align-items: stretch;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
  }

  .UserProfileEditPicture-file-input {
    border: none;
    height: 0.01em !important;
    left: 0;
    margin: 0;
    outline: 0;
    overflow: inherit;
    padding: 0;
    position: absolute;
    top: 0;
    width: 0.01em !important;

    .Button {
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      position: relative;
    }
  }

  .UserProfileEditPicture-delete-button {
<<<<<<< HEAD
    margin: 12px 0;

    .ConfirmButton-default-button {
      width: $picture-size;
    }

    @include respond-to(medium) {
      width: $picture-size;
=======
    margin: 24px 0 12px;

    .ConfirmButton-default-button {
      height: auto;
      width: 100%;
    }

    @include respond-to(medium) {
      width: 290px;
    }

    @include respond-to(large) {
      margin-bottom: 0;
>>>>>>> master
    }
  }
}
