@import "~core/css/inc/vars";

.ShowMoreCard-contents {
  &::after {
    // rgba(255, 255, 255, 0) instead of transparent prevents
    // grey line in Safari.
    // See: https://github.com/mozilla/addons-frontend/issues/2865
    background: linear-gradient(rgba(255, 255, 255, 0), $base-color);
    bottom: 0;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  max-height: 150px;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;

  .ShowMoreCard--expanded & {
    &::after {
      display: none;
    }

    max-height: none;
  }
}
