@import '~ui/css/styles';

.ShowMoreCard {
  @include respond-to(large) {
    .Card-contents {
      border-radius: 0 0 $border-radius-default $border-radius-default;
    }
  }
}

.ShowMoreCard-contents {
  &::after {
    // rgba(255, 255, 255, 0) instead of transparent prevents
    // grey line in Safari.
    // See: https://github.com/mozilla/addons-frontend/issues/2865
    background: linear-gradient(rgba(255, 255, 255, 0), $base-color);
    bottom: 0;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  max-height: 150px;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;

  .ShowMoreCard--expanded & {
    &::after {
      display: none;
    }

    max-height: none;
  }
}

.ShowMoreCard-expand-link {
  border-radius: 9px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.AddonDescription,
.Addon-developer-comments {
  .ShowMoreCard-contents {
    @include respond-to(large) {
      &::after {
        height: 0;
      }

      max-height: none;
    }
  }

  .Card-footer-link {
    @include respond-to(large) {
      display: none;
    }
  }
}
