@import "~photon-colors/colors";

@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.Header {
  background: $ink-90;
  display: grid;
  grid-template-columns: min-content auto;
  min-height: 112px;
  padding: 0 12px;

  @include respond-to(medium) {
    grid-template-columns: 1fr;
    min-height: 98px;
    padding: 0 $header-footer-gutter 10px;
  }

  @include respond-to(extraExtraLarge) {
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: 46px auto;
    margin: 0 auto;
    max-width: $max-content-width;
    min-height: 112px;
    padding-bottom: 20px;
    width: 100%;
  }
}

.Header-content {
  grid-column: 1 / span 4;
  grid-row: 2 / 4;
  line-height: 1;
  margin: 0 0 36px;
  text-align: center;
  width: 100%;
  z-index: 4;

  @include respond-to(medium) {
    @include text-align-start();

    align-self: end;
    grid-row: 1 / 2;
    margin: 48px 0 0;
  }

  @include respond-to(extraExtraLarge) {
    @include margin-end(24px);

    align-self: center;
    grid-column: 1;
    grid-row: 2 / 2;
    margin-top: 0;
  }
}

.Header-addons-icon {
  @include margin-end(14px);

  height: 32px;
  vertical-align: bottom;
  width: 32px;

  @include respond-to(medium) {
    @include margin-end(8px);

    height: 63px;
    vertical-align: middle;
    width: 62px;
  }

  @include respond-to(extraExtraLarge) {
    vertical-align: bottom;
  }
}

.Header-branding {
  @include font-light();

  @include respond-to(medium) {
    font-size: 34px;
    line-height: 53px;
  }
}

.Header-branding-firefox {
  @include font-medium();
}

.Header-title-wrapper {
  margin: 0;
}

.Header-title {
  @include respond-to(medium) {
    align-items: center;
    display: flex;
  }

  &,
  &:link {
    color: $white;
    font-size: $font-size-l;
    font-weight: 300;
    margin: 0;
    text-decoration: none;

    @include respond-to(extraExtraLarge) {
      font-size: $font-size-header-title;
    }
  }
}

.Header-user-and-external-links {
  @include text-align-end();

  grid-column: 3 / span 2;
  grid-row: 1 / 2;
  margin-top: 10px;

  @include respond-to(medium) {
    grid-column: 4 / -1;
    grid-row: 1 / 2;
  }

  @include respond-to(extraExtraLarge) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }
}

.Header-button {
  margin-bottom: 12px;
  vertical-align: top;
}

.Header-developer-hub-link {
  display: none;

  @include respond-to(large) {
    &,
    &:link {
      @include margin-start(12px);

      color: $white;
      display: inline-block;
      font-size: $font-size-s;
      font-weight: normal;
      padding-top: 4px;
      text-decoration: none;
    }
  }
}

.Header-download-button {
  @include margin-start(12px);
}

.Header-authenticate-button {
  @include margin-start(12px);
}

.Header-SectionLinks {
  align-items: baseline;
  grid-column: 1 / span 4;
  grid-row: 3 / 4;
  margin: 16px auto 1px;
  min-height: 28px;
  z-index: 4;

  .DropdownMenu-button-text {
    overflow: visible;
    padding-bottom: 3px;
  }

  .Icon-inverted-caret {
    height: 9px;
  }

  @include respond-to(medium) {
    @include margin-start(-12px);

    align-self: end;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    margin: 0;
  }

  @include respond-to(extraExtraLarge) {
    @include margin-end(12px);

    align-self: center;
    grid-column: 2;
    margin: 22px 0 0;
    padding: 0;
  }
}

.Header-search-form {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: end;
  margin: 10px 0 0;
  min-width: 144px;

  @include respond-to(medium) {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    margin-top: 6px;
    max-width: 250px;
  }

  @include respond-to(extraLarge) {
    align-self: center;
    max-width: 284px;
    width: 100%;
  }
}
