@import '~core/css/inc/mixins';
@import '~ui/css/vars';

.Button--type-neutral {
  @include button(
    $background: $neutral-base-color,
    $background-active: $neutral-active-color,
    $background-hover: $neutral-hover-color
  );
}

.Button--type-light {
  @include button(
    $background: $light-base-color,
    $background-active: $light-active-color,
    $background-hover: $light-hover-color,
    $color: $type-black
  );
}

.Button--type-action {
  @include button(
    $background: $action-base-color,
    $background-active: $action-active-color,
    $background-hover: $action-hover-color
  );
}

.Button--type-confirm {
  @include button(
    $background: $action-base-color,
    $background-active: $action-active-color,
    $background-hover: $action-hover-color
  );
}

.Button--type-alert {
  @include button(
    $background: $action-base-color,
    $background-active: $action-active-color,
    $background-hover: $action-hover-color
  );
}

.Button--type-report {
  @include button(
    $background: $action-base-color,
    $background-active: $action-active-color,
    $background-hover: $action-hover-color
  );
}
