@import '~amo/css/styles';

.RatingsByStar-graph {
  color: $grey-50;
  display: grid;
  font-size: $font-size-default;
  grid-gap: 12px;
  grid-template-columns: max-content auto max-content;
  // This controls whitespace and should also match the bar height.
  line-height: 16px;
}

.RatingsByStar-star {
  align-items: center;
  display: flex;

  .Icon {
    @include margin-start(6px);
  }
}

.RatingsByStar-bar {
  border-radius: 2px;
  height: 16px;
}

.RatingsByStar-barFrame {
  background-color: rgba($yellow-50, 0.25);
  width: 100%;
}

.RatingsByStar-barValue {
  background-color: rgba($yellow-50, 0.75);

  // Pre-defined widths based on % of stars.
  &.RatingsByStar-barValue--0pct {
    width: 0%;
  }

  &.RatingsByStar-barValue--10pct {
    width: 10%;
  }

  &.RatingsByStar-barValue--20pct {
    width: 20%;
  }

  &.RatingsByStar-barValue--30pct {
    width: 30%;
  }

  &.RatingsByStar-barValue--40pct {
    width: 40%;
  }

  &.RatingsByStar-barValue--50pct {
    width: 50%;
  }

  &.RatingsByStar-barValue--60pct {
    width: 60%;
  }

  &.RatingsByStar-barValue--70pct {
    width: 70%;
  }

  &.RatingsByStar-barValue--80pct {
    width: 80%;
  }

  &.RatingsByStar-barValue--90pct {
    width: 90%;
  }

  &.RatingsByStar-barValue--100pct {
    width: 100%;
  }

  // For bars less than 100%, remove the border radius since their ends
  // will be floating somwehere in the middle of barFrame.
  &.RatingsByStar-partialBar {
    [dir='ltr'] & {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    [dir='rtl'] & {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.RatingsByStar-count {
  display: flex;
  justify-content: flex-end;
  min-width: 12px;
}

.RatingsByStar-star,
.RatingsByStar-count {
  a:active,
  a:link,
  a:visited {
    color: $grey-50;
    font-weight: normal;
  }

  a:hover {
    color: $link-color;
  }
}
