@import "~core/css/inc/vars";

.FeaturedAddons .ErrorList {
  margin: 10px;
}

.FeaturedAddons .SearchResults {
  margin: 0 10px;
}

.FeaturedAddons-header {
  font-size: $font-size-m;
  text-align: center;
}
