@import "~photon-colors/photon-colors";

@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.SearchFilters-label {
  color: $grey-50;
  display: block;
}

.SearchFilters-select {
  margin: 0 0 5px;
  width: 100%;
}

.SearchFilters-Featured-label {
  @include margin-start(5px);

  display: inline-block;
}
