@import '~amo/css/styles';

.SearchFilters-label {
  color: $grey-50;
  display: block;
}

.SearchFilters-select {
  margin: 0 0 5px;
}

.SearchFilters-Recommended-label {
  display: inline-block;
  padding: 20px 0 0;
  width: 100%;
}

#SearchFilters-Recommended {
  @include margin-end(10px);
}
