@import "~photon-colors/photon-colors";

@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.SearchFilters-label {
  color: $grey-50;
  display: block;
}

.SearchFilters-select {
  margin: 0 0 5px;
}

.SearchFilters-Featured-label {
  display: inline-block;
  font-size: 14px;
  padding: 20px 0 0 0;
  width: 100%;
}

#SearchFilters-Featured {
  margin: 0 10px 0 0;
}
