@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.AddonCompatibilityError {
  background: $report-base-color;
  border-radius: $border-radius-default;
  margin-top: 10px;
  padding: 10px;
  text-align: center;

  &,
  a,
  a:link {
    color: $white;
  }
}
