@import "~core/css/inc/mixins";

.AddonCompatibilityError {
  margin-top: 12px;

  @include respond-to(medium) {
    margin-top: 0;
  }

  .Notice-icon {
    background-image: url("./media/firefox.svg");
  }
}
