@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.Home {
  padding: $padding-page;
}

.Home-category-card {
  margin-bottom: 10px;

  .Card-contents {
    @include respond-to(medium) {
      display: flex;
      flex-flow: row nowrap;
    }
  }
}

.Home-text-wrapper {
  align-self: auto;

  @include respond-to(medium) {
    align-self: center;
  }

  @include respond-to(large) {
    max-width: 200px;
  }
}

.Home-subheading {
  line-height: 1.2;
  margin-bottom: -10px;
  margin-top: 18px;
  text-align: center;

  @include respond-to(medium) {
    @include text-align-start();
  }
}

.Home-description {
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}

.Home-category-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0;
  overflow: auto;
  padding: 0;
  width: 100%;

  @include respond-to(large) {
    flex-wrap: nowrap;
  }
}

.Home-category-li {
  background-color: $base-color;
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 50% auto;
  border-radius: 6px;
  display: block;
  flex-grow: 1;
  list-style-type: none;
  margin: 5px;
  overflow: auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 25%;

  a:link {
    display: block;
    font-size: 10px;
    padding-top: 70%;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  span {
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: inherit;
  }
}

.Home-category-link,
.Home-extensions-link,
.Home-themes-link {
  &,
  &:visited {
    color: $link-color;
  }
}

.Home-extensions-link:link,
.Home-themes-link:link {
  align-items: center;
  background: $base-color;
  border-radius: 6px;
  display: flex;
  font-size: 10px;
  justify-content: center;
  margin: 0 auto 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: calc(100% - 40px);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &::before {
    content: "";
    display: inline-block;
    height: 16px;
    margin: 0 5px;
    width: 16px;
  }
}

.Home-extensions-link:link::before {
  background: url("~amo/img/icons/addon-outline.svg") no-repeat 50% 50%;
  background-size: cover;
}

.Home-themes-link:link::before {
  background: url("~amo/img/icons/theme-outline.svg") no-repeat 50% 50%;
  background-size: cover;
}

.Home-block-ads {
  background-image: url("~amo/img/home/block-ads.svg");
}

.Home-screenshot {
  background-image: url("~amo/img/home/screenshot.svg");
}

.Home-find-news {
  background-image: url("~amo/img/home/find-news.svg");
  background-size: 40% auto;
}

.Home-shop-online {
  background-image: url("~amo/img/home/shop-online.svg");
}

.Home-be-social {
  background-image: url("~amo/img/home/be-social.svg");
}

.Home-play-games {
  background-image: url("~amo/img/home/play-games.svg");
}

.Home-wild {
  background-image: url("~amo/img/home/wild.svg");
}

.Home-abstract {
  background-image: url("~amo/img/home/abstract.svg");
}

.Home-holiday {
  background-image: url("~amo/img/home/holiday.svg");
}

.Home-scenic {
  background-image: url("~amo/img/home/scenic.svg");
}

.Home-sporty {
  background-image: url("~amo/img/home/sporty.svg");
}

.Home-solid {
  background-image: url("~amo/img/home/solid.svg");
}
