@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";
@import "~photon-colors/colors";
@import "~ui/css/vars";

.Home {
  padding: $padding-page;
}

.Home-CuratedCollections-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  width: 100%;

  @include respond-to(large) {
    flex-wrap: nowrap;
  }
}

.Home-CuratedCollections-list-item {
  @include text-align-start();

  flex-grow: 1;
  list-style-type: none;
  margin: 5px;
  width: 40%;

  @include respond-to(large) {
    margin: 15px;
    width: 220px;
  }
}

.Home-CuratedCollections-link {
  font-size: 13px;
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
  }

  &:active,
  &:focus,
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

.Home-CuratedCollections-list-item .Icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
  border-radius: $border-radius-default;
  content: "";
  display: block;
  height: 100px;
  margin-bottom: 8px;
  width: 100%;

  @include respond-to(medium) {
    background-size: 96px;
    height: 140px;
  }
}

.Icon-Home-CuratedCollections-ad-blockers {
  background-color: $teal-70;
  background-image: url("./icons/ad-blockers.svg");
}

.Icon-Home-CuratedCollections-password-managers {
  background-color: $magenta-70;
  background-image: url("./icons/password-managers.svg");
}

.Icon-Home-CuratedCollections-bookmark-managers {
  background-color: $green-70;
  background-image: url("./icons/bookmark-managers.svg");
}

.Icon-Home-CuratedCollections-watching-videos {
  background-color: $purple-70;
  background-image: url("./icons/watching-videos.svg");

  @include respond-to(medium) {
    background-size: 90px;
  }
}
