@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";
@import "~photon-colors/photon-colors";
@import "~ui/css/vars";

.Home {
  padding: $padding-page;

  @include respond-to(large) {
    padding: $padding-page-l;
  }
}

.Home-SubjectShelf {
  .Card-header {
    display: block;

    @include respond-to(large) {
      display: none;
    }
  }

  .Card-contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    overflow: auto;
    width: 100%;

    @include respond-to(large) {
      border-top-left-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
      flex-wrap: nowrap;
      padding: 24px 36px;
    }
  }
}

.Home-SubjectShelf-text-wrapper {
  align-self: center;
  display: none;
  height: auto;

  @include respond-to(large) {
    align-self: center;
    display: block;
    max-width: 130px;
  }

  @include respond-to(extraLarge) {
    max-width: 250px;
  }
}

.Home-SubjectShelf-subheading {
  font-size: $font-size-m-smaller;
  margin: 0;
}

.Home-SubjectShelf-list {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  width: 100%;

  @include respond-to(large) {
    align-self: auto;
    flex-wrap: nowrap;
  }
}

.Home-SubjectShelf-list-item {
  flex-grow: 1;
  list-style-type: none;
  margin: 15px 0;
  text-align: center;
  width: 40%;

  @include respond-to(large) {
    margin: 0;
  }
}

.Home-SubjectShelf-link {
  font-size: $font-size-m-smaller;
  text-decoration: none;

  &:link,
  &:visited {
    color: $black;
  }

  &:active,
  &:focus,
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

.Home-SubjectShelf-list-item .Icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
  border-radius: $border-radius-default;
  content: "";
  display: block;
  height: 64px;
  margin-bottom: 5px;
  transform: scale(0.8);
  width: 100%;

  @include respond-to(medium) {
    transform: initial;
  }
}

.Icon-Home-SubjectShelf-ad-blockers {
  background-image: url("./icons/ad-blockers.svg");
}

.Icon-Home-SubjectShelf-password-managers {
  background-image: url("./icons/password-managers.svg");
}

.Icon-Home-SubjectShelf-bookmark-managers {
  background-image: url("./icons/bookmark-managers.svg");
}

.Icon-Home-SubjectShelf-watching-videos {
  background-image: url("./icons/watching-videos.svg");
}

.Icon-Home-SubjectShelf-smarter-shopping {
  background-image: url("./icons/smarter-shopping.svg");
}

.Icon-Home-SubjectShelf-be-more-productive {
  background-image: url("./icons/be-more-productive.svg");
}
