@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.AddonRecommendations {

  // stylelint-disable max-nesting-depth
  @include respond-to(large) {
    &.AddonsCard--horizontal {
      ul.AddonsCard-list {

        // overriding default Search Results styles
        .SearchResult {
          padding: 12px 34px 12px 14px;

          &:hover {
            background-color: $grey-10;
            border-radius: $border-radius-default;
            cursor: pointer;

            .SearchResult-name {
              color: $link-color;
            }

            .SearchResult-users {
              display: none;
            }

            .SearchResult-metadata {
              display: block;
            }
          }
        }

        .SearchResult-link {
          padding: 0;

          &:hover,
          &:focus {
            background-color: transparent;
          }
        }

        .SearchResult-users,
        .SearchResult-metadata {
          height: auto;
          min-height: 24px;
        }
      }
    }
  }
}
