@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

$avatar-size: 64px;

.UserAvatar-image {
  height: auto;
  width: 100%;
}

.UserProfile {
  margin: $padding-page;
}

.UserProfile-wrapper {

  @include respond-to(large) {
    display: flex;
    justify-content: flex-start;
  }
}

.UserProfile-user-info {
  @include respond-to(large) {
    min-width: 300px;
    width: 35%;
  }
}

.UserProfile-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.UserProfile-avatar {
  height: $avatar-size;
  margin: 0 0 12px;
  overflow: hidden;
  width: $avatar-size;
}

.UserProfile-avatar .Icon {
  height: $avatar-size;
  width: $avatar-size;
}

.UserProfile-tags {
  font-weight: normal;
  text-align: right;

  span {
    display: inline-block;
    height: 16px;
    margin: 0 0 5px 10px;
    vertical-align: middle;
    width: 16px;

    &.UserProfile-tag-developer {
      background-image: url("./icons/developer.svg");
    }

    &.UserProfile-tag-artist {
      background-image: url("./icons/artist.svg");
    }
  }
}

.UserProfile-name {
  @include font-regular();

  font-size: $font-size-l;
  grid-column: 1 / span 2;
  margin: 0;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.UserProfile-rating-average .Rating {
  @include margin(0, 0, 0, -3px);

  justify-content: start;
}

.UserProfile-abuse-button {
  margin-top: 24px;

  .ReportUserAbuse-show-more {
    width: 100%;
  }
}

.UserProfile-edit-link {
  margin-top: $padding-page;
  width: 100%;
}

.UserProfile-addons-by-author {
  @include margin(12px, 0, 0, 0);

  width: 100%;

  @include respond-to(large) {
    @include margin(0, 0, 0, 12px);

    max-width: calc(100% - 300px - 12px);
  }

  @include respond-to(extraLarge) {
    max-width: calc(65% - 12px);
  }
}

.UserProfile-biography {
  word-wrap: break-word;
}
