@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

$avatar-size: 64px;

.UserAvatar-image {
  height: auto;
  width: 100%;
}

.UserProfile {
  margin: $padding-page;
}

.UserProfile-wrapper {
  display: flex;
  justify-content: flex-start;
}

.UserProfile-user-info {
  @include respond-to(large) {
    min-width: 300px;
    width: 35%;
  }
}

.UserProfile-avatar {
  height: $avatar-size;
  margin: 0 0 12px;
  overflow: hidden;
  width: $avatar-size;
}

.UserProfile-avatar .Icon {
  height: $avatar-size;
  width: $avatar-size;
}

.UserProfile-name {
  @include font-regular();

  font-size: $font-size-l;
  margin: 0;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.UserProfile-homepage {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserProfile-rating-average .Rating {
  @include margin(0, 0, 0, -3px);

  justify-content: start;
}

.UserProfile-abuse-button {
  margin-top: 24px;

  .ReportUserAbuse-show-more {
    width: 100%;
  }
}

.UserProfile-addons-by-author {
  @include margin(0, 0, 0, 12px);

  max-width: 60%;
  width: 100%;
}
