@import '~ui/css/styles';

.FormOverlay {
  align-items: center;
  background: transparentize($grey-90, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.FormOverlay-overlay {
  background-color: $white;
  border-radius: $border-radius-s;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 95%;
  margin: 0;
  padding: 24px;
  width: 95%;

  @include respond-to(extraLarge) {
    // Set the width to 900px - 22px.
    width: 876px;
  }

  .ErrorList {
    margin: 0;
  }
}

.FormOverlay-close-control {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.FormOverlay-footer {
  align-items: end;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: min-content min-content;
  justify-content: end;
  margin: 36px 0 0;

  .Button {
    width: max-content;
  }
}

.FormOverlay-close-button {
  cursor: pointer;
}

.FormOverlay-h3 {
  margin: 0 0 12px;
}

.FormOverlay-content {
  margin: 0;
  overflow: auto;
  padding: 0 48px;

  label {
    display: block;
    font-size: $font-size-s;
    padding: 24px 0 6px;
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: $font-size-default * 3;
  }
}
