@import '~ui/css/styles';

.UserReview {
  word-wrap: break-word;

  .Rating {
    margin: 0;

    @include margin-end(6px);
  }

  .ErrorList {
    margin-top: 6px;
  }

  .TooltipMenu {
    width: fit-content;
  }
}

.UserReview-review-header {
  margin: 0;
  padding: 0;
}

.UserReview-body {
  font-size: $font-size-default;
  word-wrap: break-word;

  &:not(.UserReview-emptyBody) {
    margin: 4px 0 6px;
  }
}

.UserReview-byLine {
  color: $sub-text-color;
  display: flex;
  font-size: $font-size-s;

  a,
  a:link,
  a:visited {
    color: $sub-text-color;
    font-weight: normal;
  }

  a:active,
  a:hover {
    color: $link-color;
  }

  a:focus {
    @include focus();
  }
}
