@import '~amo/css/styles';
@import '~amo/css/inc/vars';

.SponsoredAddonsShelf {
  margin-bottom: 0;
}

.SponsoredAddonsShelf .Card-contents .AddonsCard-list {
  grid-auto-flow: row dense;
  grid-template-columns: repeat(3, 33%);
}

.SponsoredAddonsShelf-headerText {
  display: inline;
}

.SponsoredAddonsShelf-headerLink {
  font-size: $font-size-micro;
  @include margin-start(12px);

  &,
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $link-color;
    font-weight: normal;
    text-decoration: none;
  }
}
