@import '~amo/css/styles';

.SecondaryHero {
  color: $black;
  display: flex;
  justify-content: space-between;
  min-height: 216px;
  padding: $padding-page-l 0;
}

.SecondaryHero-message {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
  width: 25%;
}

.SecondaryHero-message-headline {
  font-size: $font-size-l;
  line-height: 1.333;
}

.SecondaryHero-message-description {
  padding: $padding-page 0;
}

.SecondaryHero-modules {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
}

.SecondaryHero-module {
  align-items: center;
  background-color: $white;
  border-radius: $border-radius-s;
  display: flex;
  flex-direction: column;
  // flex-grow: 0;
  font-size: 18px;
  // justify-content: space-around;
  line-height: 1.222;
  // margin: 16px 0;
  padding: 0 16px 16px 16px;
  // position: relative;
  text-align: center;
  // width: 33%;
}

.SecondaryHero-module-icon {
  height: 60px;
  margin: 30px auto 36px auto;
  width: 60px;
}

.SecondaryHero-module-link {
  margin-top: 6px;
}

.SecondaryHero-message-link,
.SecondaryHero-module-link {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $link-color;
    font-weight: normal;
    text-decoration: none;
  }
}
