@import "~core/css/inc/vars";
@import "~ui/css/vars";

.ErrorList {
  text-align: center;
  border-radius: $border-radius-default;
  background-color: $report-base-color;
  color: $white;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
}

.ErrorList-item {
  list-style: none;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
