@import '~amo/css/styles';

$icon-size: 48px;

.StaticAddonCard {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);
  display: grid;
  grid-template-columns: ($icon-size + 8px) 2fr 1fr;
  padding: 12px;

  @include respond-to(medium) {
    padding: 20px;
  }
}

.AddonBadges {
  grid-column: 4;
  grid-row: 1;
  margin-bottom: 10px;
  width: auto;

  .PromotedBadge {
    font-size: $font-size-s;
  }

  @include respond-to(medium) {
    grid-column: 4;
    margin: 0 0 0 auto;
  }
}

.StaticAddonCard-icon {
  grid-column: 1;
  grid-row: 2;

  .StaticAddonCard-icon-wrapper {
    height: $icon-size;
    overflow: hidden;
    width: $icon-size;
  }

  .StaticAddonCard-icon-image {
    height: auto;
    width: 100%;
  }

  @include respond-to(medium) {
    grid-row: 1;
  }
}

.AddonTitle {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  grid-column: 2 / span 3;
  grid-row: 2;
  margin: 0;

  & .AddonTitle-author,
  & .AddonTitle-author a,
  & .AddonTitle-author a:link {
    font-size: $font-size-m;
    line-height: 1;
  }

  @include respond-to(medium) {
    grid-column: 2 / span 2;
    grid-row: 1;
  }
}

.StaticAddonCard-summary {
  font-size: $font-size-s;
  grid-column: 1 / span 4;
  grid-row: 3;
  line-height: 1.2;

  p {
    margin-bottom: 0;
  }

  @include respond-to(medium) {
    grid-row: 2;
  }
}

.StaticAddonCard-metadata {
  display: flex;
  font-size: $font-size-s;
  grid-column: 1 / span 4;
  grid-row: 4;
  line-height: 1.2;

  .Rating {
    @include margin-end(12px);
  }

  @include respond-to(medium) {
    grid-row: 3;
  }
}

.StaticAddonCard-firefox-button {
  align-self: center;
  grid-column: 1 / span 4;
  grid-row: 5;
  text-align: center;

  .GetFirefoxButton {
    margin-bottom: 0;
    width: auto;
  }

  @include respond-to(medium) {
    grid-row: 4;
  }

  @include respond-to(large) {
    margin-top: -12px;
    text-align: right;
  }
}
