@import '~amo/css/styles';

$icon-size: 38px;

.StaticAddonCard {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);
  display: grid;
  grid-template-columns: ($icon-size + 8px) 2fr 1fr;
  padding: 10px;

  @include respond-to(medium) {
    padding: 20px;
  }
}

.AddonBadges {
  grid-column: 4;
  grid-row: 1;
  margin-bottom: 14px;
  width: auto;

  @include respond-to(medium) {
    grid-column: 4;
    margin: 0 0 0 auto;
  }
}

.AddonIcon {
  grid-column: 1;
  grid-row: 2;

  .AddonIconWrapper {
    height: $icon-size;
    overflow: hidden;
    width: $icon-size;
  }

  .AddonIconImage {
    height: auto;
    width: 100%;
  }

  @include respond-to(medium) {
    grid-row: 1;
  }
}

.AddonTitle {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin: 0;

  &,
  & .AddonTitle-author,
  & .AddonTitle-author a,
  & .AddonTitle-author a:link {
    font-size: $font-size-m;
    line-height: 1;
  }

  @include respond-to(medium) {
    grid-column: 2 / span 2;
    grid-row: 1;
  }
}

.AddonSummary {
  font-size: $font-size-s;
  grid-column: 1 / span 4;
  grid-row: 3;
  line-height: 1.2;

  @include respond-to(medium) {
    grid-row: 2;
  }
}

.GetFirefoxButton {
  align-self: center;
  grid-column: 1 / span 4;
  grid-row: 4;
  white-space: initial;
  width: auto;

  @include respond-to(medium) {
    grid-column: 4;
    grid-row: 3;
  }
}
