@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";
@import "~ui/components/Icon/vars";

$page-margin: 20px 10px;

// Put the margin on the immediate children so that the header can be full width and blue.
.AddonDetail > * {
  margin: $page-margin;
}

.AddonDetail-title {
  margin-top: 10px;
}

.AddonDetail-title-heading {
  margin-bottom: 10px;
}

.AddonDetail-author {
  display: block;
  font-size: 20px;
  opacity: 0.75;

  a {
    color: $header-font-color;
    font-size: 20px;
    text-decoration: none;
  }
}

.AddonDetail-summary {
  margin-bottom: 0;
  margin-top: 0;
}

.AddonDetail-header {
  background: $masthead-color;
  color: $header-font-color;
  margin: 0;
  padding: $page-margin;

  h1 {
    margin-top: 0;
    color: $header-font-color;
  }
}

.AddonDetail-metadata {
  align-items: center;
  background-color: $masthead-light-color;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}

.AddonDetail-theme-header {
  line-height: 0;
  position: relative;
}

.AddonDetail-theme-header-image {
  background-position: top right;
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 100px;
  object-fit: cover;
  object-position: top right;
  user-select: none;
  width: 100%;

  [dir=rtl] & {
    background-position: top left;
  }
}

.AddonDetail-theme-header-label {
  $label-margin: 12px;

  @include start($label-margin);

  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  bottom: $label-margin;
  color: #fff;
  font-size: 12px;
  line-height: $default-icon-size;
  padding: $label-margin;
  position: absolute;
  text-transform: uppercase;
  user-select: none;
}

.AddonDetail-theme-preview-icon {
  @include margin-end(8px);

  vertical-align: top;
}

.AddonDetail-icon {
  align-items: center;
  display: flex;
  flex-direction: row;

  img {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    height: 64px;
    width: 64px;
  }
}

.AddonDetail-all-reviews-link {
  &:link, &:active, &:visited, &:hover {
    color: $link-color;
    font-weight: normal;
    font-variant: all-small-caps;
    text-decoration: none;
  }
}
