@import "~amo/css/inc/vars";

.AddonReviewList {
  padding: 10px;
}

.AddonReviewList-header {
  margin: 15px 0;
  display: flex;
  flex-direction: row;

  .AddonReviewList-header-text {
    > h1,
    > h2 {
      font-size: 1.1em;
    }

    > h1 {
      padding-top: 10px;
      margin: 0 0 5px;
    }

    > h2 {
      font-weight: normal;
      margin: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: $primary-font-color;
      font-weight: normal;
    }
  }

  .AddonReviewList-header-icon {
    margin: 0 20px;
  }
}

$star-size: 13px;
$star-gutter: 4px;

.AddonReviewList-li {
  > h3 {
    padding: 0;
    margin: 0;
  }

  > p {
    margin: 0 0 5px;
    font-size: $font-size-default;
  }

  .AddonReviewList-by-line {
    display: flex;
    justify-content: flex-start;
    color: $sub-text-color;
    font-size: $font-size-s;
  }

  .Rating {
    margin: 0 5px 0 0;
    min-width: ($star-size + $star-gutter) * 5;
  }

  .Rating-choice {
    margin: 0;
    float: left;
    background-size: $star-size;
    height: $star-size + $star-gutter;
    width: $star-size + $star-gutter;
  }
}
