.AddonMeta {
  display: flex;
}

.AddonMeta-item {
  display: flex;
  flex-direction: column;
}

.AddonMeta-text {
  display: inline-block;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

.AddonMeta-Rating {
  margin: 2px 0 2px -2.5px;
  padding: 0;
}
