@import "~amo/css/inc/vars";

.AddonReviewList {
  padding: 10px;

  .CardList {
    margin-bottom: $vertical-space-xs;
  }
}

.AddonReviewList-header {
  margin: 15px 0;
  display: flex;
  align-items: center;

  .AddonReviewList-header-text {
    min-width: 1%;

    > h2,
    > h3 {
      font-size: 1.1em;
    }

    > h2 {
      margin: 0 0 5px;
    }

    > h3 {
      font-weight: normal;
      margin: 0;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      color: $primary-font-color;
      font-weight: normal;
      overflow-wrap: break-word;
      text-decoration: none;
    }
  }

  .AddonReviewList-header-icon {
    padding-top: 6px;
    margin: 0 20px;
  }
}

.AddonReviewList-li {
  overflow-wrap: break-word;

  > h3 {
    padding: 0;
    margin: 0;
  }

  > p {
    margin: 0 0 5px;
    font-size: $font-size-default;
  }

  .AddonReviewList-by-line {
    display: flex;
    color: $sub-text-color;
    font-size: $font-size-s;
  }

  .Rating {
    margin: 0 5px 0 0;
  }
}
