@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";

.AddonDetail {
  hr {
    margin: 0 20px;
  }

  .AddonDetail-icon,
  .title,
  .screenshots,
  .about,
  .AddonDetail-summary,
  .overall-rating {
    overflow: hidden;
    padding: 20px;
  }

  .author {
    display: block;
    font-size: 20px;

    a {
      color: $header-font-color;
      font-size: 20px;
    }
  }

  .switch {
    float: right;
  }
}

.AddonDetail-summary {
  margin-bottom: 0;
  margin-top: 0;
}

.AddonDetail-header {
  background: $masthead-color;
  color: $header-font-color;

  h1 {
    margin-top: 0;
    color: $header-font-color;
  }
}

.AddonDetail-theme-header {
  display: flex;
  line-height: 0;
  position: relative;
}

.AddonDetail-theme-header-image {
  border-radius: 8px;
  flex-grow: 1;
  margin: 20px 10px 0;
  width: 100%;
}

.AddonDetail-theme-header-label {
  @include start(18px);

  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  bottom: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  padding: 8px;
  position: absolute;
  text-transform: uppercase;
}

.AddonDetail-icon {
  align-items: center;
  display: flex;
  flex-direction: row;

  img {
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    height: 64px;
    width: 64px;
  }
}
