.AddonMeta {
  font-size: 10px;
  padding: 20px;

  .category,
  .sentiment,
  .users {
    display: inline-block;
    margin: 5px;
    padding-top: 40px;
    text-align: center;
    vertical-align: top;
    width: 60px;
  }

  p {
    display: inline-block;
    line-height: 14px;
    max-width: 45px;
    text-align: center;
  }

  .category.security {
    background: url('~amo/img/categories/security.svg') no-repeat 50% 5px;
  }

  .users {
    background: url('~core/img/icons/users.svg') no-repeat 50% 5px;
  }

  .sentiment.love-it {
    background: url('~amo/img/ratings/love-it-mono.svg') no-repeat 50% 5px;
  }
}
