.AddonMeta {
  display: flex;
  font-size: 10px;
}

.AddonMeta-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80px;
}

.AddonMeta-users-icon {
  height: 60px;
  width: 40px;
}

.AddonMeta-ratings-icon {
  height: 50px;
  width: 50px;
}

.AddonMeta-text {
  display: inline-block;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
