@import '~core/css/inc/mixins';
@import '~amo/css/inc/vars';
@import '~ui/css/vars';

.AddonMeta {
  display: flex;
}

.AddonMeta-item {
  display: flex;
  flex-direction: column;
}

.AddonMeta-text {
  display: inline-block;
  font-size: $font-size-s;
  font-weight: bold;
  margin: 0;
  padding: 0;

  @include respond-to(medium) {
    margin-bottom: 4px;
  }
}

.AddonMeta-Rating {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
