.AddonMeta {
  font-size: 10px;
}

.AddonMeta-users {
  // background: url('../img/icons/users.svg') no-repeat 50% 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80px;
}

.AddonMeta-users-icon {
  height: 60px;
  width: 40px;
}

.AddonMeta-text {
  display: inline-block;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
