@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/components/Icon/vars";

$page-margin: 20px 10px;

// Put the margin on the immediate children so that the header can be full width and blue.
.AddonDetail > * {
  margin: $page-margin;
}

.AddonDetail-title {
  margin-top: 10px;
}

.AddonDetail-title-heading {
  font-size: $font-size-l;
  margin-bottom: 10px;
}

.AddonDetail-author {
  display: block;
  opacity: 0.75;
  word-wrap: break-word;

  a,
  a:link {
    color: $header-font-color;
    font-size: $font-size-l;
    text-decoration: none;
  }
}

.AddonDetail-summary {
  margin-bottom: 0;
  margin-top: 0;

  a,
  a:link {
    color: $header-font-color;
  }
}

.AddonDetail-header {
  background: $masthead-color;
  color: $header-font-color;
  margin: 0;
  padding: $page-margin;

  h1 {
    margin-top: 0;
    color: $header-font-color;
  }
}

.AddonDetail-metadata {
  align-items: center;
  background-color: $masthead-light-color;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 10px;

  .AddonCompatibilityError {
    margin-top: 10px;
    width: 100%;
  }
}

.AddonDetail-theme-header {
  line-height: 0;
  position: relative;
}

.AddonDetail-theme-header-image {
  border-radius: 12px;
  object-fit: cover;
  object-position: top right;
  height: 100px;
  display: block;
  width: 100%;
}

.AddonDetail-theme-header-label {
  $label-margin: 12px;

  @include start($label-margin);

  border-radius: 8px;
  bottom: $label-margin;
  color: #fff;
  font-size: 12px;
  line-height: $default-icon-size;
  padding: $label-margin;
  position: absolute;
  text-transform: uppercase;
  user-select: none;
}

.AddonDetail-theme-preview-icon {
  @include margin-end(8px);

  vertical-align: top;
}

.AddonDetail-icon {
  align-items: center;
  display: flex;
  flex-direction: row;

  img {
    display: inline-block;
    height: 64px;
    width: 64px;
  }
}
