@import "~core/css/inc/vars";

.AddonReview {
  text-align: center;
  margin: auto;
  width: 90%;

  h2 {
    font-size: $font-size-l;
    margin-bottom: 0.3em;
  }

  textarea {
    width: 100%;
    padding: 0.7em;
    border: 2px solid $form-border-color;
    border-radius: 8px;
    box-shadow: none;
    min-height: 200px;
  }
}

.AddonReview-button-row {
  margin-top: 1em;
  text-align: left;
  display: flex;
}

.AddonReview-back-button::before {
  // This is a left pointing angle bracket (used as an arrow).
  // Code point: &#12296;
  // TODO: switch this to an SVG.
  content: 'ã€ˆ ';
}

.AddonReview-button {
  border: 0;
  color: $body-font-color;
  padding: 0.7em;
  background-color: $button-background-color;
  border-radius: 8px;
}

.AddonReview-back-button {
  // This is because the left-pointing angle bracket character
  // seems to have a lot of whitespace on the left side.
  padding-left: 0;
}

.AddonReview-submit-button {
  margin-left: auto;
}
