@import "~normalize.css";
@import "~core/css/inc/lib";
@import "~core/css/inc/vars";
@import "~core/css/inc/mixins";

html,
body {
  background: $masthead-color;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-regular();

  font-size: $font-size-default;
  color: $body-font-color;
  line-height: 19px;
}

#react-view {
  height: 100%;
}

.amo {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-content {
  background: $accent-color;
  flex-grow: 1;

  > div {
    padding: $padding-page;

    &.full-width {
      padding: 0 0 $padding-page;
    }
  }
}

h1,
h2 {
  @include font-bold();

  color: $primary-font-color;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 32px;
}

h2 {
  font-size: 12px;
}

h3 {
  @include font-bold();

  font-size: 14px;
  line-height: 19px;
}

a:link {
  @include font-medium();

  font-size: 14px;
  color: #0568ba;
}

em {
  @include font-regular-italic();
}

strong {
  @include font-bold();
}

.caption {
  font-size: 10px;
  color: $primary-font-color;
  line-height: 11px;
}

.date-time {
  font-size: 14px;
  color: #b1b1b1;
}

button {
  background: none;
  border: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
