
.OverallRating-choices {
  display: flex;
  justify-content: center;
}

$star-size: 46px;

.OverallRating-choice {
  background: url('../img/ratings/big-star.svg') center/$star-size no-repeat;
  cursor: pointer;
  height: $star-size + 10px;
  padding-top: 80px;
  width: $star-size + 10px;
}

// The following rules make the ranges of stars appear selected when
// you hover over them. For example, when you hover over the third star,
// only the first three stars appear selected.

// First, make all stars appear selected when you hover over the group.
.OverallRating-star-group:hover .OverallRating-choice {
  background-image: url('../img/ratings/big-star-selected.svg');
}

// Second, de-select all stars to the right of the cursor.
.OverallRating-choice:hover ~ .OverallRating-choice {
  background-image: url('../img/ratings/big-star.svg');
}
