@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";

$screenshot-height: 200px;
$screenshot-width: 320px;

.ScreenShots .pswp-thumbnails {
  line-height: 0;
}

.ScreenShots-viewport {
  height: $screenshot-height;
}

.ScreenShots-list .pswp-thumbnails {
  display: flex;
  height: $screenshot-height;
  list-style-type: none;
  margin: 0;
  overflow-x: scroll;
  padding: 0;
  width: auto;
}

.ScreenShots-list .pswp-thumbnail {
  display: inline-block;
  margin: 0 10px;

  &:first-of-type {
    @include margin-start(0);
  }
}

.ScreenShots-image {
  cursor: pointer;
  display: inline-block;
  height: $screenshot-height;
  width: $screenshot-width;
}

// Don't stretch the images.
.ScreenShots-image,
.pswp__img {
  object-fit: contain;
}
