@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.SearchSort {
  background: $base-color;
  border: 0;
  border-radius: $border-radius-default;
  overflow: hidden;
}

.SearchSort-header {
  display: none;

  @include respond-to(large) {
    display: block;
    text-align: center;
  }
}

.SearchSort-toggle {
  @include button(
    $background: $light-base-color,
    $background-active: $light-active-color,
    $background-hover: $light-hover-color,
    $color: $link-color
  );

  // We do this so the button doesn't have weird edges on hover when the
  // sort options are expanded.
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box;
  display: block;
  font-size: $font-size-s;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 2;
  margin: 0;
  min-width: 40%;
  position: relative;
  text-align: center;
  text-shadow: none;

  &::before {
    background: url("~amo/img/icons/sort.svg") 50% 50% no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    height: 16px;
    left: -8px;
    position: relative;
    top: 4px;
    width: 16px;

    [dir=rtl] & {
      left: auto;
      right: -8px;
    }
  }

  &::after {
    @include arrow-down();
    @include arrow-link-right-aligned();

    .SearchSort--visible & {
      @include arrow-up();
      @include arrow-link-right-aligned();
    }
  }

  &:focus {
    background: transparentize($link-color, 0.8);
    box-shadow: none;
  }

  @include respond-to(large) {
    display: none;
  }
}

.SearchSort-list {
  align-items: center;
  display: none;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  .SearchSort--visible & {
    display: flex;
  }

  @include respond-to(large) {
    display: flex;
  }
}

.SearchSort-list-item {
  display: flex;
  width: 50%;
}
