@import '~core/css/inc/mixins';
@import '~core/css/inc/vars';

.SearchSortLink {
  @include button($background: $base-color, $color: $link-color);

  border-radius: 0;
  font-size: $font-size-default;
  flex-grow: 1;
  padding: 6px 0;
  text-align: center;

  &:focus {
    background: transparentize($link-color, 0.8);
    box-shadow: none;
  }
}

.SearchSortLink--active,
.SearchSortLink--active:link {
  @include button($background: $link-color, $color: $base-color);

  border-radius: 0;
  color: $base-color;
  font-size: $font-size-default;
  padding: 6px 0;

  &:focus {
    background: transparentize($link-color, 0.2);
    box-shadow: none;
  }
}
