@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";
@import "~ui/css/vars";

.SearchSortLink {
  @include button(
    $background: $light-base-color,
    $background-active: $light-active-color,
    $background-hover: $light-hover-color,
    $color: $link-color
  );

  border-radius: 0;
  flex-grow: 1;
  font-size: $font-size-default;
  padding: 6px 0;
  text-align: center;
  text-shadow: none;

  &:focus {
    background: transparentize($link-color, 0.8);
    box-shadow: none;
  }
}

.SearchSortLink--active,
.SearchSortLink--active:link {
  @include button($background: $link-color, $color: $base-color);

  border-radius: 0;
  color: $base-color;
  font-size: $font-size-default;
  padding: 6px 0;

  &:focus {
    background: transparentize($link-color, 0.2);
    box-shadow: none;
  }
}
