.LoadingIndicator {
  animation: spin 1.6s infinite cubic-bezier(0.42, 0.26, 0.04, 1.21);
  height: 48px;
  width: 48px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  66% {
    transform: rotate(720deg);
  }

  100% {
    transform: rotate(720deg);
  }
}
