@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";

.LandingPage {
  padding: $padding-page;
}

.LandingPage-header {
  margin: 30px 20px 20px;

  @include respond-to(medium) {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: $font-size-default;
    justify-content: center;
    margin: 50px auto 40px;
    max-width: 1000px;
    padding: 0 40px;
  }
}

.LandingPage-button {
  display: block;

  @include respond-to(medium) {
    display: none;
  }
}

.LandingPage-icon {
  width: 100%;

  @include respond-to(large) {
    height: 225px;
  }
}

.LandingPage-addonType-name {
  font-size: $font-size-l;
  font-weight: 300;
  margin: 0 0 15px;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.LandingPage-heading-content {
  font-size: $font-size-m;
  font-weight: normal;
  line-height: 1.5;
  max-width: 600px;

  @include respond-to(medium) {
    @include margin-end(20px);
  }
}

.LandingPage .Categories {
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}
