@import '~amo/css/styles';

$badge-size-large: 24px;
$badge-size-small: 16px;

.Badge {
  color: $grey-90;
  font-size: $font-size-default;
  line-height: $line-height-compressed;
  display: flex;
  gap: 6px;
  align-items: center;
  white-space: nowrap;
  padding: 4px 6px;

  .Badge-link {
    color: inherit;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    text-decoration: none;
    gap: 6px;

    &,
    &:link,
    &:visited {
      color: $color-dark-gray-05;
      font-weight: normal;
      text-decoration: none;
    }

    &:active,
    &:focus,
    &:hover {
      border-color: $color-light-gray-90;
      color: $color-dark-gray-05;
    }
  }

  &.Badge-border {
    border: 1px solid $color-light-gray-40;
    border-radius: 20px;
    display: inline-flex;
    gap: 6px;
    box-sizing: border-box;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-light-gray-90;
    }
  }

  @include respond-to(large) {
    display: flex;
    flex-direction: row-reverse;

    .Addon-theme & {
      flex-direction: row;
    }
  }

  .Icon {
    vertical-align: top;
  }
}

.Badge-content--small {
  font-size: 12px;
}

.Badge-content--large {
  font-size: 16px;
}

.Badge-icon {
  box-sizing: border-box;
  display: flex;
  height: auto;
  width: auto;
  background-size: contain;
}

.Badge-icon--large {
  height: $badge-size-large;
  width: $badge-size-large;
}

.Badge-icon--small {
  height: $badge-size-small;
  width: $badge-size-small;
}
