@import "~core/css/inc/mixins";
@import "~ui/css/vars";

.Badge {
  @include font-bold();
  @include margin-end(10px);

  background-color: $neutral-base-color;
  border-radius: 15px;
  display: inline-block;
  font-size: $font-size-s;
  line-height: 1.3;
  margin-top: 10px;
  padding: 8px 12px 6px;
  text-align: center;

  .Icon {
    @include margin-end(10px);

    vertical-align: middle;
  }
}

.Badge-featured {
  background-color: $teal-50;
}

.Badge-restart-required {
  background-color: $yellow-50;

  .Icon-restart-required {
    margin-top: -2px;
  }
}
