@import "~core/css/inc/mixins";
@import "~photon-colors/colors";
@import "~ui/css/vars";

.Badge {
  color: $grey-90;
  font-size: $font-size-m-smaller;
  line-height: 1.4;
  margin: 0 0 6px;

  @include respond-to(medium) {
    margin: 0 0 12px;
  }

  .Icon {
    @include margin-start(6px);

    vertical-align: top;
  }
}
