@import "~core/css/inc/mixins";
@import "~photon-colors/photon-colors";
@import "~ui/css/vars";

.Badge {
  color: $grey-90;
  font-size: $font-size-m-smaller;
  line-height: 1.2;
  margin: 0;

  @include respond-to(large) {
    display: flex;
    margin: 0;
  }

  .Icon {
    vertical-align: top;
  }
}
