@import "~core/css/inc/mixins";
@import "~photon-colors/photon-colors";
@import "~ui/css/vars";

.Badge {
  color: $grey-90;
  font-size: $font-size-m-smaller;
  line-height: 1.2;
  margin: 0 0 6px;

  @include respond-to(medium) {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 12px;
  }

  .Icon {
    @include margin(0, 6px, 0, 0);

    @include respond-to(medium) {
      @include margin(0, 0, 0, 6px);
    }

    vertical-align: top;
  }
}
