@import "~photon-colors/photon-colors";
@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";
@import "~core/css/inc/vars";
@import "~ui/css/vars";

.EditableCollectionAddon {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 32px minmax(80px, auto) 32px 64px;
  padding: 12px;
}

.EditableCollectionAddon-name {
  @include font-medium();

  font-size: $font-size-m-smaller;
  hyphens: auto;
  margin: 0;
  word-wrap: break-word;

  @include respond-to(extraLarge) {
    align-items: center;
    display: flex;
  }
}

.EditableCollectionAddon-icon {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.EditableCollectionAddon-comments-icon {
  align-items: center;
  display: flex;
}

.EditableCollectionAddon-remove-button {
  align-items: center;
  display: flex;
}

.EditableCollectionAddon-notes {
  background-color: transparentize($blue-50, 0.95);
  border-radius: $border-radius-default;
  grid-column: 1 / 5;
  margin-top: 0;
  padding: 12px;

  @include respond-to(medium) {
    @include margin-start(12px);
  }
}

.EditableCollectionAddon-notes-header {
  margin: 0 0 6px;

  .Icon-comments-blue {
    @include margin-end(12px);
  }
}

.EditableCollectionAddon-notes-buttons {
  text-align: right;
}

.EditableCollectionAddon-notes-form {
  margin: 12px 0 0 0;

  .DismissibleTextForm-buttons {
    margin-top: 12px;
  }
}
