@import "~core/css/inc/vars";

.LandingAddonsCard-more-link {
  &:link,
  &:active,
  &:visited,
  &:hover {
    color: $link-color;
    font-weight: normal;
    font-variant: all-small-caps;
    text-decoration: none;
  }
}
