.InstallButton {
  .InstallButton-button {
    white-space: nowrap;
  }

  &.InstallButton--use-button {
    .InstallButton-switch {
      display: none;
    }
  }

  &.InstallButton--use-button {
    .InstallButton-button {
      display: none;
    }
  }
}
