@import '~core/css/inc/vars';

.InstallButton {
  .InstallButton-button {
    white-space: nowrap;

    &.InstallButton-button--disabled {
      background-color: $disabled-button-background-color;
      cursor: not-allowed;
    }
  }

  &.InstallButton--use-button {
    .InstallButton-switch {
      display: none;
    }
  }

  &.InstallButton--use-switch {
    .InstallButton-button {
      display: none;
    }
  }
}
