.SearchResult {
  border: solid #cfcfcf;
  border-width: 1px 1px 0;

  &:last-of-type {
    border-bottom-width: 1px;
  }

  &:hover {
    background-color: #efefef;
  }
}

.SearchResult-link {
  color: #333;
  display: flex;
  margin: 0;
  padding: 1em;
  text-decoration: none;
  width: 100%;
}

.SearchResult-main {
  flex-grow: 1;
  margin: 0 1em;
}

.SearchResult-heading {
  font-size: 1.25em;
  margin: 0 0 0.1em;
}

.SearchResult-name {
  color: #333;
  margin-bottom: 0.25em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.SearchResult-info {
  font-size: 0.8em;
  margin-right: 1em;
}

.SearchResult-link.button {
  font-size: 0.75em;
}

.SearchResult-actions {
  align-items: center;
  display: flex;
}

.SearchResult-icon {
  display: block;
  height: 64px;
  width: 64px;
}
