@import "~core/css/inc/vars";

.SearchResults-list {
  margin: 0;
  padding: 10px;
}

.SearchResults-type-header {
  color: #000;
  font-size: $font-size-default;
  text-align: center;
}

.SearchResults-message {
  background: $background-accent-color;
  font-size: $font-size-m;
  margin: 0;
  padding: 1em;
  text-align: center;
}
