@import "~core/css/inc/vars";

$border-radius: 9px;
$secondary-color: #6a6a6a;

.SearchResult {
  background: $background-accent-color;
  border-bottom: 6px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &:first-of-type {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-of-type {
    border-bottom: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.SearchResult-link {
  color: $text-color-default;
  display: flex;
  margin: 0;
  padding: 1em;
  text-decoration: none;
  width: 100%;
}

.SearchResult-main {
  flex-grow: 1;
}

.SearchResult-heading {
  color: $primary-font-color;
  font-size: $font-size-m;
  font-weight: normal;
  margin: 0 0 0.1em;
  padding: 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.SearchResult-author,
.SearchResult-users {
  color: $secondary-color;
  display: inline-block;
  font-size: $font-size-default;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.SearchResult-author {
  margin-right: 0.5em;
}

.SearchResult-info {
  font-size: 0.8em;
  margin-right: 1em;
}

.SearchResult-link.button {
  font-size: 0.75em;
}

.SearchResult-actions {
  align-items: center;
  display: flex;
}

.SearchResult-icon {
  display: inline-block;
  float: right;
  height: 38px;
  width: 38px;
}
