@import '~amo/css/styles';

$icon-default: 60px;
$icon-medium: 76px;
$icon-extraLarge: 92px;

.Guides-page {
  color: $black;
  line-height: 1.6;
  padding: 16px 20px;

  @include respond-to(medium) {
    font-size: 16px;
    padding: 16px 60px;
  }

  @include respond-to(extraLarge) {
    padding: 20px 200px;
  }

  @include respond-to(extraExtraLarge) {
    padding: 20px 280px;
  }

  .Card-contents {
    border-radius: 6px;
    padding: 16px;

    @include respond-to(medium) {
      padding-bottom: 6px;
    }
  }
}

.Guides-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 28px;
  padding-bottom: 12px;

  @include respond-to(large) {
    margin-bottom: 36px;
    padding-bottom: 20px;
  }
}

.Guides-header-page-title {
  font-size: 28px;
  margin: 16px 0;

  @include respond-to(medium) {
    font-size: 32px;
  }
}

.Guides-header-icon {
  background-color: $white;
  border: 12px solid $white;
  border-radius: 4px;
  height: $icon-default;
  width: $icon-default;

  @include respond-to(medium) {
    height: $icon-medium;
    width: $icon-medium;
  }

  @include respond-to(extraLarge) {
    height: $icon-extraLarge;
    width: $icon-extraLarge;
  }
}

.Guides-section {
  margin-bottom: 32px;

  @include respond-to(medium) {
    margin-bottom: 40px;
  }
}

.Guides-section-title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  @include respond-to(medium) {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.Guides-section-description {
  margin-top: 4px;
}

.Guides-section-explore-more {
  margin-top: 24px;
}
