@import '~amo/css/styles';

.Guides-page {
  color: $black;
  font-size: 16px;
  line-height: 1.6;
  padding: 16px 60px;

  @include respond-to(extraLarge) {
    padding: 20px 172px;
  }

  .Card-contents {
    padding: 16px;

    @include respond-to(medium) {
      padding-bottom: 6px;
    }
  }
}

.Guides-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 36px;
  padding-bottom: 20px;
}

.Guides-header-page-title {
  font-size: 32px;
  margin: 16px 0;
}

.Guides-header-icon {
  background-color: $white;
  border: 12px solid $white;
  border-radius: 4px;
  height: 92px;
  width: 92px;
}

.Guides-section {
  margin-bottom: 40px;
}

.Guides-section-title {
  font-size: 20px;
  margin-bottom: 0;
}

.Guides-section-description {
  margin-top: 4px;
}

.Guides-section-explore-more {
  margin-top: 24px;
}
