.AddonQRCode {
  border: solid;
  display: flex;
  flex-direction: column;
}

.AddonQRCode-img {
  padding: 0 8px;
}

.AddonQRCode-label {
  padding: 4px 8px 8px 8px;
  text-align: center;
}

.AddonQRCode-dismisser {
  align-items: top;
  display: flex;
  justify-content: flex-end;
}

.AddonQRCode-dismisser-button {
  cursor: pointer;
  padding: 8px;
  padding-bottom: 0;
}
