@import "~disco/css/inc/vars";
@import "~core/css/inc/mixins";

$addon-padding: 20px;

.addon {
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  margin-top: 20px;

  blockquote {
    margin: 0;
  }

  .editorial-description {
    color: $header-copy-font-color;
    font-size: 12px;
    margin: 0.75em 0;
  }

  &.theme {
    display: block;

    .content .copy {
      padding: 20px;
    }
  }

  &.extension span {
      display: block;
      padding-top: 3px;
  }

  .theme-image {
    display: block;
    overflow: hidden;

    img {
      display: block;
      float: right;
      height: 100px;
    }

    &:focus {
      @include focus();
    }
  }

  .install-button {
    margin: 0 20px 0 30px;

    [dir=rtl] & {
      margin: 0 30px 0 20px;
    }
  }

  &:not(.theme) .install-button {
    align-self: stretch;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 15px;
    padding: 15px 20px 0;

    > .switch {
      float: right;

      [dir=rtl] & {
        float: left;
      }
    }
  }

  @include respond-to('large') {
    &:not(.theme) .install-button {
      align-self: center;
      border: 0;
      margin: 0 20px 0 30px;
      padding: 0;

      [dir=rtl] & {
        margin: 0 30px 0 20px;
      }
    }
  }

  .logo {
    align-items: center;
    align-self: stretch;
    display: flex;
    padding: 0 10px;

    img {
      display: block;
      height: 64px;
      width: 64px;
    }
  }

  @include respond-to('large') {
    .logo {
      padding: 0 15px;
    }
  }

  .heading {
    color: $header-copy-font-color;
    font-size: 14px;
    line-height: 1.2;
    font-weight: medium;
    margin: 0;

    a:link,
    a:visited,
    a:focus,
    a:hover,
    a:active {
      color: $header-copy-font-color;
      text-decoration: underline;
    }

    a:focus,
    a:hover {
      color: $link-hover-color;
    }

    // This only corresponds to the link for add-ons not themes which is all a link.
    span {
      color: $secondary-font-color;
      font-size: 10px;
      font-weight: normal;

      a:link,
      a:visited,
      a:focus,
      a:hover,
      a:active {
        color: $secondary-font-color;
      }

      a:focus,
      a:hover {
        color: $link-hover-color;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    position: relative;

    .copy {
      padding: 20px 20px 15px;
      flex-grow: 1;

      // Remove the bottom margin of the last element.
      & :last-child {
        margin-bottom: 0;
      }
    }

    @include respond-to('large') {
      .copy {
        padding: 30px 20px;
      }
    }
  }

  &:not(.theme) .content {
    flex-direction: column;
    align-items: left;
  }

  @include respond-to('large') {
    &:not(.theme) .content {
      flex-direction: row;
      align-items: center;
    }
  }

  .notification {
    align-content: stretch;
    align-items: center;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    left: 0;
    padding: 15px 80px 15px 20px;
    position: absolute;
    right: 0;
    top: 0;

    &.overlay-enter.overlay-enter-active {
      transition: 300ms cubic-bezier(0.19, 0.95, 0.39, 1) 400ms;
    }

    &.overlay-enter {
      opacity: 0;
      transform: scale(1.1);
    }

    &.overlay-leave.overlay-leave-active {
      opacity: 0;
      transform: scale(0.9);
      transition: 300ms cubic-bezier(0.19, 0.95, 0.39, 1);
    }

    &.overlay-leave,
    &.overlay-enter.overlay-enter-active {
      opacity: 1;
      transform: scale(1);
    }

    &.error {
      background: #c33c32 url('../img/warning.svg') no-repeat calc(100% - 40px) 50%;
      z-index: 20;

      [dir=rtl] & {
        background-position: 40px 50%;
      }
    }

    &.restart {
      background: #70cf5b url('../img/restart.svg') no-repeat calc(100% - 40px) 50%;
      z-index: 10;

      [dir=rtl] & {
        background-position: 40px 50%;
      }
    }

    .message {
      flex-grow: 1;
    }

    .close {
      bottom: 10px;
      color: #fff;
      display: block;
      left: 15px;
      padding: 5px;
      position: absolute;
    }
  }
}
