@import "~disco/css/inc/vars";
@import "~core/css/inc/mixins";

$addon-padding: 20px;

.addon {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  margin-top: 20px;

  blockquote {
    margin: 0;
  }

  .editorial-description {
    color: $secondary-font-color;
    font-size: 12px;
    margin: 0.5em 0;
  }

  &.theme {
    display: block;

    .content .copy {
      padding: 20px;
    }
  }

  .theme-image {
    display: block;

    img {
      display: block;
    }

    &:hover,
    &:focus {
      @include focus();
    }
  }

  .install-button {
    margin: 0 20px 0 30px;
  }

  .logo {
    align-items: center;
    align-self: stretch;
    display: flex;
    padding: 0 15px;

    img {
      display: block;
      height: 64px;
      width: 64px;
    }
  }

  .heading {
    color: $primary-font-color;
    font-size: 18px;
    font-weight: medium;
    margin: 0;

    span {
      color: $secondary-font-color;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    position: relative;

    > .error {
      align-content: stretch;
      align-items: center;
      background: #c33c32 url('../img/warning.svg') no-repeat calc(100% - 40px) 50%;
      bottom: 0;
      color: #fff;
      display: flex;
      flex-direction: row;
      left: 0;
      padding: 15px 20px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;

      .message {
        flex-grow: 1;
      }

      .close {
        color: #fff;
        display: block;
        position: absolute;
        left: 20px;
        bottom: 15px;
      }
    }

    .copy {
      padding: 30px 20px;
      flex-grow: 1;

      // Remove the bottom margin of the last element.
      & :last-child {
        margin-bottom: 0;
      }
    }
  }

}
