@import "~normalize.css";
@import "~core/css/inc/lib";
@import "~core/css/inc/mixins";
@import "~disco/css/inc/vars";

html,
body {
  background: $page-background;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
}

.disco-pane {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 680px;
  min-width: 260px; // 300 - (20px + 20px)
  padding: 10px 20px 20px;
}

@include respond-to('large') {
  .disco-pane {
    padding-top: 50px;
  }
}

// Special class to apply compensation
// for the padding applied by xul in FF < 50.
.padding-compensation {
  padding-right: 68px; // 48px + 20px;

  [dir=rtl] & {
    padding-right: 0;
    padding-left: 68px;
  }
}

header {
  margin: 0 0 20px;
  padding: 20px 0 0;

  h1 {
    color: $primary-font-color;
    display: block;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0 0 20px;
  }
}

@include respond-to('large') {
  header {
    background: inherit;
    border-bottom: 1px solid $header-border-color;
    padding: 0 0 40px;
    margin: 0 0 40px;

    h1 {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.amo-link {
  text-align: center;

  a {
    background: #2ea3ff;
    border: 1px solid #0675d3;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 30px 0;
    min-width: 140px;
    padding: 10px 1em 11px;
    text-decoration: none;
    transition: background 200ms;

    &:focus,
    &:hover {
      background: #0996f8;
      border: 1px solid #0461ae;
    }

    &:focus {
      @include focus();

      border: 1px solid #fff;
    }

    &:active {
      background: #0675d3;
      border: 1px solid #025295;
      box-shadow: none;
    }
  }
}

.disco-content {
  color: $header-copy-font-color;
  font-size: 15px;
  line-height: 1.28;
  width: 100%;

  &:last-child {
    display: block;
    margin-bottom: 0;
  }
}

@include respond-to('large') {
  .disco-content {
    font-size: 14px;
    margin-right: 50px;
    max-width: 415px;

    [dir=rtl] & {
      margin-left: 50px;
      margin-right: 0;
    }
  }
}

.disco-header,
.disco-content,
.disco-video {
  transition: 300ms;
}

.disco-header {
  align-items: flex-start;
  display: flex;
  width: 100%;

  .disco-video {
    border-radius: 5px;
    height: 120px;
    width: 215px;
  }
}

.show-video {
  padding-bottom: 0;

  .disco-header {
    transform: translateX(-465px);
    width: 1145px;

    [dir=rtl] & {
      transform: translateX(465px);
    }
  }

  .disco-content {
    opacity: 0;
    visibility: hidden;
  }

  .disco-video {
    margin: 0 84px;
    height: 288px;
    width: 512px;
  }

  .play-video {
    display: none;
  }

  .close-video {
    display: block;
  }
}

.video-wrapper {
  display: none;
  position: relative;
}

@include respond-to('large') {
  .video-wrapper {
    display: block;
  }
}

.play-video {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

.play-video-text {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  text-align: center;
  transition: background 300ms;

  &::before {
    content: "\25BA ";
  }
}

.play-video:hover .play-video-text {
  background: rgba(0, 0, 0, 0.3);
}

.close-video {
  display: none;
  text-align: center;

  a {
    color: #0996f8;
    height: 40px;
    line-height: 40px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
