@import "~normalize.css";
@import "~core/css/inc/lib";
@import "~core/css/inc/mixins";
@import "~disco/css/inc/vars";


html,
body {
  background: $page-background;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

body {
  // Match firefox's left margin to keep the content centered.
  margin-right: 48px;
}

* {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
}

.disco-pane {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 50px 20px;
  width: 680px;
}

header {
  border-bottom: 1px solid $header-border-color;
  margin-bottom: 40px;
  padding-bottom: 40px;

  h1 {
    color: $primary-font-color;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px;
  }
}

.amo-link {
  text-align: center;

  a {
    background: $amo-link-background-color;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 30px 0;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: background 300ms;

    &:hover {
      background: lighten($amo-link-background-color, 7);
    }

    &:focus {
      @include focus();
    }
  }
}

.disco-content {
  color: $header-copy-font-color;
  font-size: 14px;
  line-height: 1.28;
  margin-right: 50px;
  width: 415px;

  [dir=rtl] & {
    margin-left: 50px;
    margin-right: 0;
  }

  &:last-child {
    display: block;
    margin-bottom: 0;
  }
}

.disco-header,
.disco-content,
.disco-video {
  transition: 300ms;
}

.disco-header {
  align-items: flex-start;
  display: flex;
  width: 100%;

  .disco-video {
    border-radius: 5px;
    height: 120px;
    width: 215px;
  }
}

.show-video {
  padding-bottom: 0;

  .disco-header {
    transform: translateX(-465px);
    width: 1145px;

    [dir=rtl] & {
      transform: translateX(465px);
    }
  }
  .disco-content {
    opacity: 0;
    visibility: hidden;
  }

  .disco-video {
    margin: 0 84px;
    height: 288px;
    width: 512px;
  }

  .play-video {
    display: none;
  }

  .close-video {
    display: block;
  }
}

.video-wrapper {
  position: relative;
}

.play-video {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

.play-video-text {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  padding: 10px;
  transition: background 300ms;

  &::before {
    content: "\25BA ";
  }
}

.play-video:hover .play-video-text {
  background: rgba(0, 0, 0, 0.3);
}

.close-video {
  display: none;
  text-align: center;

  a {
    color: #0996F8;
    height: 40px;
    line-height: 40px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
