@import "~normalize.css";
@import "~core/css/inc/lib";
@import "~disco/css/inc/vars";


html,
body {
  background: $page-background;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

img {
  box-sizing: content-box;
}

.disco-pane {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 680px;
  padding: 50px 20px;
}

header {
  border-bottom: 1px solid $header-border-color;
  margin-bottom: 40px;
  padding-bottom: 40px;

  h1 {
    color: $primary-font-color;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px;
  }

  .content {
    color: $header-copy-font-color;
    font-size: 14px;
    line-height: 1.28;
  }

  .content:last-child {
    display: block;
    margin-bottom: 0;
  }
}

.disco-header {
  display: flex;
  width: 100%;

  &,
  .content,
  video {
    transition: 300ms;
  }

  .content {
    margin-right: 50px;
    width: 415px;
  }

  video {
    border-radius: 5px;
    height: 120px;
    width: 215px;
  }
}

.show-video .disco-header {
  transform: translateX(-465px);
  width: 1145px;

  .content {
    opacity: 0;
    visibility: hidden;
  }

  video {
    margin: 0 84px;
    height: 288px;
    width: 512px;
  }
}

.video-wrapper {
  position: relative;
}

.play-video {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
}

.play-video-text {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  padding: 10px;
  transition: background 300ms;
}

.play-video:hover .play-video-text {
  background: rgba(0, 0, 0, 0.3);
}

.show-video .play-video {
  display: none;
}

.close-video {
  display: none;
  text-align: center;

  a {
    color: #0996F8;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
  }
}

.show-video .close-video {
  display: block;

  a:hover {
    text-decoration: underline;
  }
}

.show-video {
  padding-bottom: 0;
}
