@import '~core/css/styles';

@mixin animated-icon($name, $steps, $svgWidth, $width) {
  @keyframes #{$name} {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-($svgWidth - $width));
    }
  }

  animation-duration: 1.05s;
  animation-iteration-count: infinite;
  animation-name: $name;
  animation-timing-function: steps($steps);
  background-image: url('./img/#{$name}.svg');
  display: block;
  height: 100%;
  width: $svgWidth;

  [dir='rtl'] & {
    @keyframes #{$name}-rtl {
      from {
        transform: scaleX(-1) translateX(0);
      }

      to {
        transform: scaleX(-1) translateX(-($svgWidth - $width));
      }
    }

    animation-name: '#{$name}-rtl';
  }
}

.AMInstallButton {
  .AMInstallButton-button {
    white-space: nowrap;

    .Icon {
      @include padding-end(4px);

      margin-top: -2px;
    }
  }

  .AMInstallButton-button--enable {
    .Icon {
      margin-top: inherit;
    }
  }

  .AMInstallButton-loading {
    background-color: $grey-20;
    border-radius: 2px;
    height: 32px;
    text-align: center;
    width: 32px;

    .AMInstallButton-loading-icon {
      $width: 16px;

      display: inline-block;
      height: 4px;
      margin-top: 14px;
      overflow-x: hidden;
      width: $width;

      .Icon-loading {
        @include animated-icon(
          $name: 'loading',
          $steps: 60,
          $svgWidth: 992px,
          $width: $width
        );
      }

      [dir='rtl'] & {
        // For some reasons, there is a small horizontal offset in RTL mode.
        margin-left: -1px;
      }
    }
  }

  .AMInstallButton-loading--puffy {
    height: 48px;
    width: 48px;

    .AMInstallButton-loading-icon {
      margin-top: 22px;
    }
  }
}
