@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.Addon {
  padding: 20px 10px;
}

.Addon-header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Addon-icon-image {
  height: 48px;
  width: 48px;

  @include respond-to(medium) {
    height: 64px;
    width: 64px;
  }
}

.Addon-title-section {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  order: 2;

  .InstallButton {
    @include margin-start(auto);
  }
}

.Addon-title {
  color: $black;
  font-size: $font-size-l;
  margin: 10px 0;
  width: 100%;
  word-wrap: break-word;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.Addon-author {
  display: block;
  word-wrap: break-word;

  &,
  a,
  a:link {
    color: $black;
    font-size: $font-size-m;
    font-weight: normal;
    text-decoration: none;

    @include respond-to(medium) {
      font-size: $font-size-l;
    }
  }
}

.Addon-summary {
  @include respond-to(medium) {
    margin-bottom: 0;
    max-width: 550px;
  }
}

.Addon-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
}

.Addon .AddonMeta {
  text-align: right;
}

.Addon .InstallButton {
  @include respond-to(medium) {
    @include margin-start(auto);

    align-self: flex-end;
  }
}

// Details section with lots of flexbox stuff, on all but mobile displays.
@include respond-to(medium) {
  .Addon-details {
    @include margin-end(10px);

    display: grid;
    grid-auto-flow: column dense;
    grid-gap: 10px;
    grid-template-columns: 35% 65%;

    .AddonDescription {
      grid-column: 2;
      grid-row: 1 / 5;
    }
  }

  .Addon-screenshots {
    grid-column: 1 / 2;
  }

  .Addon-overall-rating {
    grid-column: 1 / 2;
  }

  .AddonMoreInfo {
    grid-column: 1 / 2;
  }

  // We hide this "Read reviews" link on larger displays as we actually show
  // the first page of reviews on the page.
  // TODO: Enable this once we load reviews on the addon page.
  // See: https://github.com/mozilla/addons-frontend/issues/2552
  // .Addon-overall-rating .Card-footer-link {
  //   display: none;
  // }
}
