@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.Addon {
  padding: $padding-page;

  @include respond-to(large) {
    padding: $padding-page-l;
  }
}

.Addon .Card {
  margin-bottom: $padding-page;

  @include respond-to(large) {
    margin-bottom: $padding-page-l;
  }
}

.Addon-icon-image {
  height: 48px;
  width: 48px;

  @include respond-to(medium) {
    height: 64px;
    width: 64px;
  }
}

.Addon-header-wrapper {
  @include respond-to(large) {
    display: flex;
  }
}

.Addon-header-info-card {
  @include respond-to(large) {
    @include margin-end($padding-page-l);

    width: 65%;
  }
}

.Addon-header-meta-and-ratings {
  @include respond-to(large) {
    min-width: 300px;
    width: 35%;
  }
}

.Addon-title {
  color: $black;
  font-size: $font-size-l;
  margin: $padding-page-l 0;
  width: 100%;
  word-wrap: break-word;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.Addon-author {
  display: block;
  word-wrap: break-word;

  &,
  a,
  a:link {
    color: $black;
    font-size: $font-size-m;
    font-weight: normal;
    text-decoration: none;

    @include respond-to(medium) {
      font-size: $font-size-l;
    }
  }
}

.Addon-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Addon-theme-header {
  border-radius: $border-radius-default;
  max-height: 90px;
  min-height: 45px;
  order: -1;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.Addon-theme-header-label {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.Addon-theme-header-image {
  display: block;
  height: 100px;
  object-fit: cover;
  object-position: top right;
  width: 100%;
}

.Addon-title {
  order: 1;

  @include respond-to(medium) {
    flex-grow: 1;

    .Addon-persona & {
      flex-basis: 75%;
      flex-grow: 0;
    }
  }
}

.Addon .AddonMeta {
  order: 2;

  @include respond-to(medium) {
    @include margin-start(auto);

    margin: 10px 0;
    order: 0;
    text-align: right;
  }
}

.Addon-persona .AddonMeta {
  @include respond-to(medium) {
    order: 1;
  }
}

.Addon .AddonMeta-item {
  @include margin-start(auto);
}

.Addon-summary {
  flex-basis: 100%;
  flex-grow: 1;
  order: 2;
  overflow-x: auto;
  word-wrap: break-word;

  @include respond-to(medium) {
    flex-grow: 0;
    margin-bottom: 0;
    max-width: 550px;
  }
}

.AddonDescription-contents {
  word-wrap: break-word;
}

.Addon .InstallButton {
  margin-top: auto;
  order: 3;
}

.Addon .InstallButton {
  @include respond-to(medium) {
    @include margin-start(auto);

    align-self: flex-end;
  }
}

.Addon-badges {
  flex-basis: 100%;
  flex-grow: 1;
  margin-bottom: 10px;
  order: 4;
}

.AddonDescription-more-addons {
  margin-top: 0;

  .Card-contents .AddonsCard-list {
    background-color: $white;
    display: grid;
    grid-auto-flow: initial;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
  }
}

.AddonDescription-more-addons--theme {
  .Card-contents .AddonsCard-list {
    .SearchResult-result {
      width: 100%;
    }

    .SearchResult-icon-wrapper {
      margin: 0 0 10px;
      width: 100%;
    }

    .SearchResult-icon {
      border-radius: $border-radius-default;
    }

    @include respond-to(extraLarge) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Details section with lots of grid stuff, on larger displays.
@include respond-to(large) {
  .Addon-details {
    display: grid;
    grid-auto-flow: column dense;
    grid-gap: 0 $padding-page-l;
    grid-template-columns: minmax(300px, 35%) auto;
    margin: 0;

    .Addon-main-content {
      grid-column: 2;
      // This span makes sure the left widget does not move vertically when
      // there is a long description.
      grid-row: 1 / span 100000;
      // Fixes screenshot overflow in FF 52 ESR.
      max-width: 100%;
      overflow-x: hidden;
    }

    .AddonDescription-version-notes {
      grid-column: 1;
    }

    .AddonDescription-more-addons {
      grid-column: 1;
    }

    .AddonDescription-contents {
      max-width: 550px;
    }
  }

  .Addon-screenshots {
    // overflow required to fix content overlap in Safari.
    // See https://github.com/mozilla/addons-frontend/issues/2847
    overflow-x: hidden;
  }

  .Addon-overall-rating {
    grid-column: 1 / 2;
  }

  .AddonMoreInfo {
    grid-column: 1 / 2;
  }

  // We hide this "Read reviews" link on larger displays as we actually show
  // the first page of reviews on the page.
  // TODO: Enable this once we load reviews on the addon page.
  // See: https://github.com/mozilla/addons-frontend/issues/2552
  // .Addon-overall-rating .Card-footer-link {
  //   display: none;
  // }
}
