@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";

.AddonMoreInfo-contents {
  margin: 0;
  padding: 0;

  dt {
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }

  dd {
    line-height: 1.2;
    margin: 0 0 3px;
    padding: 0;

    a:link {
      font-size: $font-size-s;
      font-weight: 400;
    }
  }
}
