@import "~amo/css/inc/vars";
@import "~core/css/inc/mixins";

.LandingPage {
  padding: $padding-page;
}

.LandingPage-Header {
  margin: 10px;
  max-width: 100%;
  text-align: center;
}

.LandingPage-Header-Text {
  display: inline-block;
  @include margin-start(20px);
  @include text-align-start();
  width: 250px;
}

.LandingPage-Heading {
  font-size: 20px;
}

.LandingPage-Heading-Content {
  margin-top: 5px;
}

Link--light {
  @include button(#fff, $link-color);
}

.Browse-Button {
  height: 55px;
  margin-left: calc(50% - 150px);
  margin-bottom: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

.Browse-Button-Text {
  bottom: 10px;
  position: relative;
}
