@import "~amo/css/inc/vars";

$selector-padding: 10px;

.LanguagePicker-header {
  margin: 0 0 5px;
}

.LanguagePicker-selector {
  appearance: none;
  background:
    url('../img/icons/globe.svg') no-repeat #{$selector-padding} 50%,
    $base-color url('../img/icons/triangle-down.svg')
    no-repeat calc(100% - #{$selector-padding}) 50%;
  background-size: 20px 20px, 15px 15px;
  border: 0;
  border-radius: $border-radius-default;
  color: $link-color;
  display: block;
  font-size: $font-size-s;
  line-height: 1;
  padding: $selector-padding $selector-padding #{$selector-padding - 1} #{$selector-padding * 3};
  width: 100%;

  [dir=rtl] & {
    background:
      url('../img/icons/globe.svg') no-repeat calc(100% - #{$selector-padding}) 50%,
      $base-color url('../img/icons/triangle-down.svg')
      no-repeat #{$selector-padding} 50%;
    background-size: 20px 20px, 15px 15px;
    padding: $selector-padding #{$selector-padding * 3} #{$selector-padding - 1} $selector-padding;
  }
}
