@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.LanguagePicker-header {
  margin: 0 0 5px;
}

.LanguagePicker-selector {
  appearance: none;
  background: url("~ui/components/Icon/globe.svg") no-repeat 10px 50%, $neutral-base-color url("~ui/components/Icon/triangle-down.svg") no-repeat calc(100% - 10px) 50%;
  background-size: 16px, 12px;
  border: 0;
  border-radius: $border-radius-default;
  color: $white;
  display: block;
  font-size: $font-size-s;
  line-height: 1;
  max-width: 220px;
  padding: 5px 15px 3.5px 30px;
  width: 100%;

  [dir=rtl] & {
    background: url("~ui/components/Icon/globe.svg") no-repeat calc(100% - 10px) 50%, $neutral-base-color url("~ui/components/Icon/triangle-down.svg") no-repeat 10px 50%;
    background-size: 16px, 12px;
    padding: 5px 30px 3.5px 15px;
  }
}
