@import "~core/css/inc/vars";

#tabzilla {
  left: 14px;
  position: absolute;

  [dir=rtl] & {
    left: auto;
    right: 14px;
  }
}

.MastHead {
  background: $masthead-color;
  min-height: 100px;
  position: relative;

  .FoxPuzzleIcon {
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    width: 50px;

    [dir=rtl] & {
      margin: 0 0 0 10px;
    }
  }
}

.MastHead-header {
  padding: 80px 0 30px;
  text-align: center;
}

.MastHead-title {
  align-items: center;
  color: $header-font-color;
  display: flex;
  font-size: 24px;
  justify-content: center;

  &:link {
    font-size: 24px;
    text-decoration: none;
  }
}

.AccountButton.button {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  color: $header-font-color;
  font-size: 12px;
  padding: 8px;
  position: absolute;
  right: 15px;
  top: 15px;

  [dir=rtl] & {
    left: 15px;
    right: auto;
  }

  span {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .LoginPersonIcon {
    fill: $header-font-color;
    margin-right: 5px;
    position: relative;

    [dir=rtl] & {
      margin: 0 0 0 5px;
    }
  }
}
