@import "~amo/css/inc/vars";

#tabzilla {
  left: 14px;
  position: absolute;
}

.MastHead {
  background: $header-background;
  min-height: 100px;
  position: relative;
}

.MastHead-header {
  padding: 80px 0 30px;
  text-align: center;
}

.MastHead-title {
  align-items: center;
  color: $header-font-color;
  display: flex;
  font-size: 24px;
  justify-content: center;

  &:link {
    font-size: 24px;
    text-decoration: none;
  }

  &::before {
    background: url('../img/icons/fox-puzzle.svg') no-repeat 50% 50%;
    content: '';
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }
}

.AccountButton.button {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  font-size: 12px;
  padding: 8px;
  position: absolute;
  right: 15px;
  top: 15px;

  span {
    align-items: center;
    display: flex;
    justify-content: center;

    &::before {
      background: url('../img/icons/login-person.svg') no-repeat 0 0;
      content: '';
      display: inline-block;
      height: 16px;
      margin-right: 5px;
      position: relative;
      width: 13px;
    }
  }
}
