@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";

.MastHead {
  background: $masthead-color;
  min-height: 100px;
  position: relative;
}

.MastHead-header {
  padding: 30px 0;
  text-align: center;

  h1 {
    margin: 0;
  }
}

.MastHead-title {
  align-items: center;
  color: $header-font-color;
  display: flex;
  font-size: 24px;
  justify-content: center;

  &:link {
    color: $header-font-color;
    font-size: 24px;
    text-decoration: none;
  }

  &::before {
    background: url('../img/icons/fox-puzzle.svg') no-repeat 50% 50%;
    content: '';
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    width: 50px;

    [dir=rtl] & {
      margin: 0 0 0 10px;
    }
  }
}

.MastHead-top-row {
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
}

.Button.MastHead-auth-button {
  color: $masthead-color;
  margin-top: 15px;

  &,
  &:hover {
    background: #fff;
  }

  .Icon {
    @include margin-end(0.5em);
    vertical-align: top;
  }
}
