@import "~core/css/inc/vars";
@import "~core/css/inc/mixins";

$icon-size: 26px;

.SearchForm-form {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
}

.SearchForm-query.CentredInput,
.SearchForm-query .CentredInput-label,
.SearchForm-query .CentredInput-input {
  @include font-regular();
  line-height: 3rem;
  height: 3rem;
}

.SearchForm-query .CentredInput-label,
.SearchForm-query .CentredInput-input {
  font-size: $font-size-m;
}

.Icon-magnifying-glass {
  // This selector is used so the magnifying glass only appears when no search
  // text is entered; we do this because centring the text takes precedence
  // over showing the magnifying glass, and we can't do that (easily) with
  // search text that can expand.
  background: url('~amo/img/icons/magnifying-glass.svg') 0 50% no-repeat;
  content: '';
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
}

.SearchForm-query .CentredInput-label {
  color: rgba(255, 255, 255, 0.7);
  text-overflow: ellipsis;

  & .Icon-magnifying-glass {
    height: 3rem;
    margin-right: 5px;
  }

  & span {
    display: inline-block;
    height: 3rem;
    vertical-align: top;
  }
}

.SearchForm-query .CentredInput-input {
  background: none;
  border: 0;
  color: $header-font-color;
  flex-grow: 1;
  opacity: 0.75;
  transition: opacity $transition-short linear;

  &:focus {
    opacity: 1;
  }

  &::placeholder {
    // This increases the contrast of the placeholder a bit.
    opacity: 0.8;
  }
}
