@import "~core/css/inc/vars";

$search-query-padding: 26px;

.SearchForm-form {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  display: flex;
}

.SearchForm-query {
  background: none;
  border: 0;
  color: $header-font-color;
  font-size: $font-size-m;
  flex-grow: 1;
  height: 3rem;
  margin: 0 auto;
  opacity: 0.75;
  padding: 0;
  text-align: center;
  transition: opacity $transition-short linear;
  width: 100%;

  &:focus {
    opacity: 1;
  }

  // This selector is used so the magnifying glass only appears when no search
  // text is entered; we do this because centring the text takes precedence
  // over showing the magnifying glass, and we can't do that (easily) with
  // search text that can expand.
  &:placeholder-shown {
    background: url('~core/img/icons/magnifying-glass.svg') 0 50% no-repeat;
    padding-left: $search-query-padding;
    max-width: 320px;
    text-overflow: ellipsis;

    html[dir=rtl] & {
      background-position: 100% 50%;
      padding-left: 0;
      padding-right: $search-query-padding;
    }
  }

  &::placeholder {
    // This increases the contrast of the placeholder a bit.
    opacity: 0.8;
  }
}
