@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans Light'),
    url('woff2/FiraSans-Light.woff2') format('woff2'),
    url('woff/FiraSans-Light.woff') format('woff'),
    url('otf/FiraSans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans Light Italic'),
    url('woff2/FiraSans-LightItalic.woff2') format('woff2'),
    url('woff/FiraSans-LightItalic.woff') format('woff'),
    url('otf/FiraSans-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'),
    url('woff2/FiraSans-Regular.woff2') format('woff2'),
    url('woff/FiraSans-Regular.woff') format('woff'),
    url('otf/FiraSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Regular Italic'),
    url('woff2/FiraSans-Italic.woff2') format('woff2'),
    url('woff/FiraSans-Italic.woff') format('woff'),
    url('otf/FiraSans-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'),
    url('woff2/FiraSans-Medium.woff2') format('woff2'),
    url('woff/FiraSans-Medium.woff') format('woff'),
    url('otf/FiraSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans Medium Italic'),
    url('woff2/FiraSans-MediumItalic.woff2') format('woff2'),
    url('woff/FiraSans-MediumItalic.woff') format('woff'),
    url('otf/FiraSans-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans Bold'), url('woff2/FiraSans-Bold.woff2') format('woff2'),
    url('woff/FiraSans-Bold.woff') format('woff'),
    url('otf/FiraSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Fira Sans Bold Italic'),
    url('woff2/FiraSans-BoldItalic.woff2') format('woff2'),
    url('woff/FiraSans-BoldItalic.woff') format('woff'),
    url('otf/FiraSans-BoldItalic.otf') format('opentype');
}
