@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),
    url('woff2/opensans-regular.woff2') format('woff2'),
    url('woff/opensans-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url('woff2/opensans-bold.woff2') format('woff2'),
    url('woff/opensans-bold.woff') format('woff');
}
