@import "~core/css/inc/mixins";
@import "~ui/css/vars";

$section-font-size: 11px;
$link-font-size: 15px;

.DropdownMenuItem-section {
  color: $grey-50;
  font-size: $section-font-size;
  line-height: 1.6;
  margin: 16px 0 0;
  text-transform: uppercase;
}

.DropdownMenuItem-link {
  @include font-medium();

  &,
  &:link {
    color: $grey-90;
    cursor: pointer;
    font-size: $link-font-size;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $blue-50;
  }
}

.DropdownMenuItem-link--detached {
  margin-top: 8px;
}
