@import '~amo/css/styles';

.AddonQRCodeLink {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: 4px;

  @include respond-to(medium) {
    margin-bottom: 8px;
    margin-top: 0;
  }
}

.AddonQRCodeLink-button {
  color: $link-color;
  cursor: pointer;
}

.Overlay-contents .AddonQRCodeLink-modal {
  max-width: 300px;

  .Card-contents {
    padding: 8px;
  }
}
