@import '~ui/css/styles';
@import '~ui/components/Button/styles';

.Notice {
  border-radius: $border-radius-s;
  display: grid;
  font-size: $font-size-s;
  grid-gap: 4px;
  grid-template-columns: min-content auto;
  line-height: 1.1;
  padding: 4px;

  &.Notice-light {
    background-color: transparent;
    display: flex;
    justify-content: center;
    line-height: $default-line-height;
    padding: 0;
  }

  &.Notice-dismissible {
    grid-template-columns: min-content auto min-content;
  }
}

.Notice-icon {
  background-position: center top;
  background-repeat: no-repeat;
}

.Notice-column {
  align-items: center;
  display: flex;
}

.Notice-dismisser {
  align-items: top;
  display: flex;
  justify-content: flex-end;
}

.Notice-icon,
.Notice-dismisser-button {
  height: 16px;
  margin: 4px;
  width: 16px;
}

.Notice-light .Notice-icon {
  // Reduce the icon size for light notices so that the total
  // height of the notice adds up to $default-line-height.
  background-size: 11px 11px;
  height: 11px;
  width: 11px;
}

.Notice-dismisser-button {
  cursor: pointer;
  padding: 0;
}

.Notice-text {
  display: inline-block;
  margin: 0;
  padding: 4px 0;

  .Notice-light & {
    padding: 0;
  }

  // The spec calls for additional spacing
  // in front of the action button. This is
  // applied even without a button to strike
  // a balance with the icon spacing.
  @include padding-end(8px);
}

@mixin notice_button() {
  &,
  &.Button--micro {
    border: none;
    font-size: $font-size-s;
    line-height: 1.1;
    padding: 6px;
    text-shadow: none;
    width: max-content;
  }
}

.Notice-error {
  .Notice-button {
    @include button(
      $background: $red-60,
      $background-active: $red-80,
      $background-hover: $red-70,
      $color: $white
    );
    @include notice_button();
  }

  .Notice-icon {
    background-image: url('./img/exclamation.svg');
  }

  .IconXMark-path {
    fill: $white;
  }

  background-color: $red-50;

  &,
  :link,
  :hover,
  :active {
    color: $white;
  }
}

.Notice-generic {
  .Notice-button {
    @include button(
      $background: $blue-60,
      $background-active: $blue-80,
      $background-hover: $blue-70,
      $color: $white
    );
    @include notice_button();
  }

  .Notice-icon {
    background-image: url('./img/generic-info-mark.svg');
  }

  .IconXMark-path {
    fill: $grey-90;
  }

  background-color: $grey-20;

  &,
  :link,
  :hover,
  :active {
    color: $grey-90;
  }

  .Button:hover {
    color: $white;
  }
}

.Notice-success,
.Notice-firefox {
  .Notice-button {
    @include button(
      $background: $green-60,
      $background-active: $green-80,
      $background-hover: $green-70,
      $color: $green-90
    );

    &:active,
    &:hover,
    &:focus {
      color: $white;
    }

    @include notice_button();
  }

  .Notice-icon {
    background-image: url('./img/check-mark.svg');
  }

  .IconXMark-path {
    fill: $green-90;
  }

  background-color: $green-50;

  &,
  :link,
  :hover,
  :active {
    color: $green-90;
  }
}

.Notice-firefox .Notice-icon {
  background-image: url('./img/firefox.svg');
}
