@import "~core/css/inc/mixins";
@import "~amo/css/inc/vars";
@import "~ui/css/vars";

.AddonsByAuthorsCard {
  margin-top: 0;

  .Card-contents .AddonsCard-list {
    background-color: $white;
    display: grid;
    grid-auto-flow: initial;
    grid-gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;

    .SearchResult-metadata {
      display: none;
    }
  }
}

.AddonsByAuthorsCard:not(.AddonsByAuthorsCard--theme) {
  .Card-contents .AddonsCard-list {
    @include respond-to(large) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include respond-to(extraExtraLarge) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.AddonsByAuthorsCard--theme {
  .Card-contents .AddonsCard-list {
    .SearchResult-result {
      width: 100%;
    }

    .SearchResult-icon-wrapper {
      margin: 0 0 10px;
      width: 100%;
    }

    .SearchResult-icon {
      border-radius: $border-radius-default;
    }

    @include respond-to(extraLarge) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
