@import '~amo/css/styles';

$icon-size: 40px;

.HomeHeroGuides-header {
  color: $black;
  padding: $padding-page 0 $padding-page-l;
  text-align: center;

  @include respond-to(large) {
    padding: 0 32px $padding-page;
  }
}

.HomeHeroGuides-header-title {
  font-size: $font-size-l;
  line-height: 1;
  margin: $padding-page-l 0 20px;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.HomeHeroGuides-header-subtitle {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.15;
  margin: $padding-page 0 $padding-page-l;

  @include respond-to(medium) {
    font-size: $font-size-l;
    line-height: 1;
  }
}

.HomeHeroGuides-sections {
  .Hero-name-HomeHeroGuides {
    @include respond-to(large) {
      border-bottom: 1px solid $grey-30;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  .Card-contents {
    background: none;
    overflow: visible;
    padding: 0 0 4px;
  }

  .HeroSection-link-wrapper {
    color: $black;
    display: block;
    min-height: 0;
    padding: 0;
    text-decoration: none;

    &:hover .HomeHeroGuides-section-title {
      color: $link-color;
    }

    .HeroSection-content {
      outline: none;
    }

    &.focus-visible .HeroSection-content {
      // Fix outline for Firefox
      outline: 1px dotted $link-color;
      // Restore default outline for webkit.
      outline: auto 5px -webkit-focus-ring-color;
    }
  }

  .Hero-contents {
    @include respond-to(large) {
      display: grid;
      grid-gap: 0 30px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 24px;
    }

    .HeroSection {
      margin-bottom: $padding-page;

      &:last-child {
        margin-bottom: 0;
      }

      @include respond-to(large) {
        margin-bottom: 0;
      }
    }

    .HeroSection-content {
      height: 100%;
    }
  }

  .HomeHeroGuides-section-title {
    font-size: $font-size-m;
    font-weight: normal;
    margin: $padding-page 0;
    text-align: center;
  }
}

.HomeHeroGuides-section {
  height: 100%;

  .Card-contents {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: $padding-page-l 0 $padding-page;
  }
}

.HomeHeroGuides-section-icon {
  &.Icon {
    height: $icon-size;
    width: $icon-size;
  }
}
