@import '~amo/css/styles';

$icon-size: 40px;

.HomeHeroGuides-header {
  color: $black;
  padding: 0 0 12px;
  text-align: center;

  @include respond-to(large) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.HomeHeroGuides-header-title {
  font-size: $font-size-l;
  line-height: 1;
  margin: 24px 0 20px;

  @include respond-to(medium) {
    font-size: $font-size-xl;
  }
}

.HomeHeroGuides-header-subtitle {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 12px 0 24px;

  @include respond-to(medium) {
    font-size: $font-size-l;
  }
}

.HomeHeroGuides-cards {
  .Card-contents {
    background: none;
    padding: 0;
  }

  .Hero-contents {
    grid-template: none;
    grid-template-areas: none;
    grid-template-columns: none;
    margin-bottom: 8px;
    padding: 0;

    @include respond-to(large) {
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .HomeHeroGuides-title {
    font-size: $font-size-m;
    font-weight: normal;
    margin: 12px 0;
    text-align: center;
  }
}

.HomeHeroGuides-card {
  .Card-contents {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0 12px;

    @include respond-to(large) {
      min-height: 138px;
    }

    @include respond-to(extraLarge) {
      min-height: 0;
    }
  }
}

.HomeHeroGuides-link {
  &:link {
    color: $black;
    text-decoration: none;
  }
}

.HomeHeroGuides-icon {
  &.Icon {
    height: $icon-size;
    width: $icon-size;
  }
}
