{
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      // Allow dev-dependencies in this directory.
      "devDependencies": true
    }],
  },
  "settings": {
    "import/resolver": {
      "node": {
        // This adds ./src and ./tests for relative imports.
        "moduleDirectory": ["node_modules", "src", ""]
      }
    }
  }
}
