{
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      // Allow dev-dependencies in this directory.
      "devDependencies": true
    }],
    "import/no-unresolved": [
      "error", {
        // TODO: Look for a better way.
        // This was the only way I could disable the
        // tests resolve linting issue for now (without
        // adding disable eslint [this rule] to the file itself).
        "ignore": [ "tests" ]
      }
    ]
  }
}
