{
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      // Allow dev-dependencies in this directory.
      "devDependencies": true
    }],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "path": [
          "../stories"
        ],
        "moduleDirectory": ["node_modules", "src", "stories"]
      }
    }
  }
}
