@import '~amo/css/styles';

$icon-size: 32px;

.FeedbackForm-header > .Card-contents {
  align-items: center;
  display: grid;
  grid-template-columns: ($icon-size + 16px) 1fr;

  .FeedbackForm-header-icon {
    grid-column: 1;
  }

  .FeedbackForm-header-icon-wrapper {
    height: $icon-size;
    overflow: hidden;
    width: $icon-size;
  }

  .FeedbackForm-header-icon-image {
    height: auto;
    width: 100%;
  }

  .AddonTitle {
    font-size: $font-size-heading-xs;
    grid-column: 2;
    margin-bottom: 0;

    .AddonTitle-author {
      &,
      a,
      a:link {
        font-size: $font-size-l;
      }
    }
  }
}

.FeedbackForm .Card {
  margin-bottom: $padding-page;
}

.FeedbackForm-form {
  ul {
    @include padding-start(0);
  }

  h3:first-child {
    margin-top: 0;
  }
}

.FeedbackForm--label {
  display: block;
}

.FeedbackForm--label > span {
  @include margin-start(4px);

  color: $grey-50;
}

input[type='radio'] + .FeedbackForm--label,
input[type='checkbox'] + .FeedbackForm--label {
  @include padding-start(0.5em);

  display: revert;
}

.FeedbackForm--help {
  color: $grey-50;
  display: block;
  font-size: $font-size-xs;
  margin-top: 4px;
}

.FeedbackForm input,
.FeedbackForm textarea {
  width: 100%;

  &:disabled {
    background: $grey-20;
    cursor: not-allowed;
  }

  &:focus {
    @include focus;
  }
}

.FeedbackForm input {
  @include respond-to(large) {
    width: 60%;
  }
}

.FeedbackForm input[type='radio'],
.FeedbackForm input[type='checkbox'] {
  width: revert;
}

.FeedbackForm-name,
.FeedbackForm-email,
.FeedbackForm-location,
.FeedbackForm-text,
.FeedbackForm .SignedInUser {
  margin-bottom: 16px;
}

.FeedbackForm-text {
  // The max height ensures that the textarea won't expand beyond 600
  // characters and instead shows a scrollbar.
  max-height: 230px;

  // This is the height of two lines of text.
  min-height: 51px;
  resize: none;
  width: 100%;
}

.FeedbackForm-category--li {
  list-style: none;
}

.FeedbackForm-buttons-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include respond-to(medium) {
    flex-flow: row-reverse;
  }
}

.FeedbackForm-button {
  margin-bottom: $padding-page;

  @include respond-to(medium) {
    margin-bottom: 0;
  }
}
